<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
direction:rtl;
background-color:#eee;
font-family:'Tahoma';
font-size:14px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr>
		<td colspan="2" style="
		height: 163px;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_ar.png');
		">
			<div style="padding-top: 98px; padding-right: 490px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>	
		</td>
	</tr>

	<tr style="vertical-align: top;">
		<td style="width: 310px; padding-left: 2px;">
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				الحق في النفاذ إلى المعلومة
			</div>
			<div style="font-style: italic; padding-top: 10px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				البوصلة تنشر تقريرها المتعلّق بتكريس هذا الحقّ الدستوري
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				يتنزّل تقرير منظّمة البوصلة في إطار تثمين المجهودات التي تمّ وضعها من قبل السلطة التشريعية والمجتمع المدني للمصادقة على هذا القانون في صيغة نراها تقدّميّة وتكرّس فعليّا الحقّ المراد ضمانه في الدّستور. وهو ما يعتبر حدثا تاريخيّا يجب الوقوف عليه واستخلاص الدروس منه خاصّة وأنّ مخاض هذا المشروع كان عسيرا في ظلّ رفض الحكومة في بادئ الأمر للتحويرات التي أدخلتها لجنة الحقوق والحرّيات على مشروع القانون على ضوء توصيات المجتمع المدني، ممّا أدّى إلى تعطيل المصادقة على هذا المشروع لمدّة فاتت السنة ببعض الأيّام.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/570f5ac612bdaa469dbe0b21" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
		</td>
		<td style="width: 312px; padding-top: 2px;  padding-bottom: 4px; padding-right: 2px; vertical-align: top;">
			<img src="http://{{request.host}}/static/images/newsletter_1_1.png" style="width: 310px;">
		</td>
	</tr>
	
	<tr style="vertical-align: top;">
		<td style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_1_3.png" style="width: 310px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				مرصد بلديّة - مقياس شفافية جديد
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تحصّلت بلدية المحرس على أعلى نسبة شفافية (100%) بين بلديات تونس الـ264 وذلك باستجابتها لكل مطالب النفاذ إلى الوثائق الإدارية التي تقدّم بها فريق "مرصد بلديّة" خلال سنتي 2014 و2015 وتوفيرها لكافة المعلومات مرقونة على محمل الكتروني (Excel). يجدر بالذكر أن إدراج المعلومات على موقع "مرصد بلديّة" يتطلب رقن كلّ المعلومات بالوثائق التي يتمّ توفيرها من قبل البلديات. وتستغرق عمليّة رقن المعلومات وتنزيلها بالموقع أكثر من 1560 ساعة عمل يقوم بها فريق مرصد بلدية.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تمّ احتساب نسبة شفافية كلّ بلدية من خلال نسبة المعلومات التي وفّرتها من مطالب النفاذ إلى الوثائق الإدارية التي تقدّمنا بها خلال سنتي 2014 و2015. وسيتمّ بداية من مارس 2016 اعتماد مقياس جديد للشفافية يأخذ بعين الاعتبار مدى احترام الآجال القانونية في الاستجابة لمطالب النفاذ إلى المعلومة ومدى نشر البلديّات للمعلومات على مواقعها الرسمية على الانترنت.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://baladia.marsad.tn/article/56e919a412bdaa73732b2394" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
		</td>
		<td style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_1_2.png" style="width: 310px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				حلقات نقاش بين النوّاب والمواطنين
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				نظّمت البوصلة يوم الأحد 27 مارس 2016 بالحديقة العمومية بتاجروين في ولاية الكاف حلقة نقاش بين المواطنين والنائبين حسن العماري عن كتلة حركة نداء تونس والهادي صوله عن كتلة حركة النهضة لدعم تشريك المواطن بالحياة السياسية والعامّة.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				أشار المواطنون خلال النقاش إلى غياب النوّاب والمسؤولين السياسيين بالجهة بعد الانتخابات، كما تطرّقوا إلى عديد المشاكل التي تواجهها الجهة والتي تخصّ قطاع الفلاحة والصحة والتنمية والثقافة والرياضة. من ثمّ عبّر بعض الشباب عن آمالهم في التمتع بدار ثقافة وصيانة القاعة الرياضية المغطاة بتاجروين ودعم صغار الفلاحين بالإضافة إلى النظر في المشاريع المعطّلة. وردّا على تدخّلات المواطنين،  ذكّر النواب بدورهم في طرح مشاغل الجهة خلال الجلسات العامّة بالمجلس وتبليغها للوزارات المعنية ومساءلة السلط الجهوية.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.youtube.com/watch?v=irDeQCXXXjQ&feature=share" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_watch.png">
				</a>
			</div>
		</div>
	</tr>

	<tr style="vertical-align: top;">
		<td style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu.png" style="width: 310px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="font-weight: bold;">
				تقارير بيانية مصوّرة لتبسيط تنقيح القانون المتعلّق بمخالفة تراتيب حفظ الصحة
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				نشرت البوصلة تقاريرا بيانية مصوّرة للرجوع على أبرز ما جاء في مشروع قـانون عدد 2014/54 المتعلّق بتنقيح وإتمام القانون عدد 59 لسنة 2006 المؤرّخ في 14 أوت 2006 المتعلّق بمخالفة تراتيب حفظ الصحة بالمناطق الراجعة للجماعات المحلية وذلك اثر مصادقة الجلسة العامة لمجلس نوّاب الشعب عليه، يوم 22 مارس 2016.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/media/set/?set=a.1129689147063910.1073741860.394269643939201&type=3" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				راصد بلدية بولاية باجة
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				قامت البوصلة باختيار 5 مواطنين ومواطنة من 6 بلديات في ولاية باجة لمهمّة راصد بلدية. 6 راصدين محلييّن بولاية باجة مهتمون بمتابعة عملية أخذ القرار على المستوى البلدي.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/videos?ref=page_internal" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				تقرير حول التطبيق التشريعي للدستور
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				نظّمت البوصلة حلقة لتقديم التقرير حول التطبيق التشريعي للدستور سنتان بعد المصادقة عليه، وذلك يوم الإثنين 14 مارس 2016 بكلية العلوم القانونية بجندوبة بالتنسيق مع قسم القانون العامّ. حضرها العديد من الطلبة وأساتذة الاختصاص إلى جانب بعض مكونات المجتمع المدني.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/photos/a.458257467540418.105738.394269643939201/1124530607579764/?type=3" target="_blank">+ لمعرفة المزيد</a>
			</div>
			{% if bla %}
			<div style="font-weight: bold; padding-top: 20px">
				صفحة للبلديات الجديدة المحدثة
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				أحدثت البوصلة صفحة جديدة على موقع مرصد بلدية لمتابعة البلديات الجديدة المحدثة والتي يتمّ تحيينها حسب الأوامر الحكومية التي تصدر في الرائد الرسمي. وقد  تمّ إحداث 20 بلدية جديدة منذ المصادقة على الدستور عن طريق أوامر حكومية، ليصل عدد البلديات إلى 284 بلدية وسوف يتواصل إحداث بلديات جديدة أو التوسيع في مساحات البلديات الموجودة حالياً لتغطية كامل تراب الجمهورية. 
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/nouvelles_municipalites" target="_blank">+ لمعرفة المزيد</a>
			</div>
			{% endif %}
			<div style="font-weight: bold; padding-top: 20px">
				رصد عدم احترام النظام الداخلي خلال عمليات التصويت
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				رصد فريق البوصلة مواصلة النوّاب عدم إحترام النظام الداخلي والدستور خلال عمليات التصويت، حيث يقتضي النظام الداخلي وأحكام الدستور على أنّ التصويت شخصي ولا يمكن تفويضه.
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				وعليه، تدعو منظّمة البوصلة دائما ومجدّدا جميع النواب إلى احترام النظام الداخلي والدستور والتخلّي على هذه الممارسات.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/photos/pb.394269643939201.-2207520000.1460549884./1128912343808257/?type=3&theater" target="_blank">+ لمعرفة المزيد</a>
			</div>
		</div>
			
		</td>
		<td style="padding-right: 2px;">
			<div><img src="http://{{request.host}}/static/images/newsletter_presse.png" style="width: 310px;"></div>
			<div style="padding: 20px; background-color: #b6ffb2;">
				<div style="font-style: italic;">
					أمام تهاطل الانتقادات وعدم الرضا: هل سيصمد مشروع القانون المتعلق بحق النفاذ إلى المعلومة أمام الجلسة العامة؟
				</div>
				<div style="color: #777;">
					جريدة المغرب | 07/03/2016 | <a href="http://ar.lemaghreb.tn/%D8%B3%D9%8A%D8%A7%D8%B3%D8%A9/%D9%85%D8%AC%D9%84%D8%B3-%D8%A7%D9%84%D9%86%D9%88%D8%A7%D8%A8/item/505-" target="_blank">الرابط</a>
				</div>

				<div style="padding-top: 20px; font-style: italic;">
					تونس: "حق النفاذ إلى المعلومة".. مدخل إلى عودة الاستبداد؟
				</div>
				<div style="color: #777;">
					جريدة العربي الجديد | 07/03/2016 | <a href="http://www.alaraby.co.uk/medianews/2016/3/7/%D8%AA%D9%88%D9%86%D8%B3-%D8%AD%D9%82-%D8%A7%D9%84%D9%86%D9%81%D8%A7%D8%B0-%D8%A5%D9%84%D9%89-%D8%A7%D9%84%D9%85%D8%B9%D9%84%D9%88%D9%85%D8%A9-%D9%85%D8%AF%D8%AE%D9%84-%D8%A5%D9%84%D9%89-%D8%B9%D9%88%D8%AF%D8%A9-%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%A8%D8%AF%D8%A7%D8%AF-" target="_blank">الرابط</a>
				</div>

				<div style="padding-top: 20px; font-style: italic;">
					قانون النفاذ إلى المعلومة في تونس:خطوة نحو التعتيم
				</div>
				<div style="color: #777;">
					موقع إلترا صوت | 09/03/2016 | <a href="http://www.ultrasawt.com/%D9%82%D8%A7%D9%86%D9%88%D9%86-%D8%A7%D9%84%D9%86%D9%81%D8%A7%D8%B0-%D8%A5%D9%84%D9%89-%D8%A7%D9%84%D9%85%D8%B9%D9%84%D9%88%D9%85%D8%A9-%D9%81%D9%8A-%D8%AA%D9%88%D9%86%D8%B3%D8%AE%D8%B7%D9%88%D8%A9-%D9%86%D8%AD%D9%88-%D8%A7%D9%84%D8%AA%D8%B9%D8%AA%D9%8A%D9%85/%D9%86%D8%A7%D8%A6%D9%84%D8%A9-%D8%A7%D9%84%D8%AD%D8%A7%D9%85%D9%8A/%D8%B3%D9%8A%D8%A7%D9%82-%D9%85%D8%AA%D8%B5%D9%84/%D8%B3%D9%8A%D8%A7%D8%B3%D8%A9" target="_blank">الرابط</a>
				</div>

				<div style="padding-top: 20px; font-style: italic;">
					مشروع قانون النفاذ للمعلومة: هل يصادق مجلس النواب على حجب المعلومة
				</div>
				<div style="color: #777;">
					موقع نواة | 11/03/2016 | <a href="http://nawaat.org/portail/2016/03/11/%D9%85%D8%B4%D8%B1%D9%88%D8%B9-%D9%82%D8%A7%D9%86%D9%88%D9%86-%D8%A7%D9%84%D9%86%D9%81%D8%A7%D8%B0-%D9%84%D9%84%D9%85%D8%B9%D9%84%D9%88%D9%85%D8%A9-%D9%87%D9%84-%D9%8A%D8%B5%D8%A7%D8%AF%D9%82-%D9%85/" target="_blank">الرابط</a>
				</div>

				<div style="padding-top: 20px; font-style: italic;">
					مشاركة أنس بن عبد الكريم في برنامج "في أسبوع" على القناة الوطنية الأولى
				</div>
				<div style="color: #777;">
					18/03/2016 | <a href="https://www.facebook.com/AlBawsala/videos" target="_blank">الرابط</a>
				</div>

				<div style="padding-top: 20px; font-style: italic;">
					مشاركة تمّام محجوب في برنامج كرسي الصراحة بإذاعة صراحة أف. أم
				</div>
				<div style="color: #777;">
					08/03/2016 | <a href="http://sarahafm.tn/?p=65477" target="_blank">الرابط</a>
				</div>
			</div>
			<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_jobs.png" style="width: 310px;"></div>
			<div style="padding: 20px;  background-color: #fef1c9; text-align: justify;">
				للانضمام لفريق البوصلة، تقدّم المنظّمة عرض عمل "مطوّر مواقع واب" للعمل على مختلف مواقعنا الرسمية على الواب. على كلّ من يهمّه الأمر وتتوفّر فيه شروط الترشّح مراسلتنا عبر <a href="mailto:join@albawsala.com">البريد الإلكتروني</a> مع إرفاق السيرة الذاتية ورسالة ترشّح قبل موفّى أفريل 2016. 
			</div>
		</td>
		
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer.png');
		">
			<div style="padding-top: 20px; padding-right: 45px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 75px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-right: 35px;">
				<a href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>

		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
