<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
direction:rtl;
background-color:#eee;
font-family:'Tahoma';
font-size:14px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr>
		<td colspan="2" style="
		width: 620px;
		height: 160px;
		vertical-align: top;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_ar.png');
		">
			<div style="padding-top: 20px; padding-right: 540px; font-weight: bold; color: white;">
				العدد : 2
			</div>
			<div style="padding-top: 75px; padding-right: 488px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>
		</td>
	</tr>

	<tr><td colspan="2" style="height:4px;"></tr>

	<tr style="vertical-align: top;">
		<td colspan="2">
		<div style="padding: 20px 20px 20px 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				5 أشهر من الدورة البرلمانية الثانية
			</div>
			<div style="font-style: italic; padding-top: 5px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				البوصلة تنشر تقريرها حول عمل المجلس وتستنكر تفشّي ظاهرة الغيابات. 
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				بانتهاء شهر مارس من هذه السنة، يكون المجلس قد استكمل ما يعادل نصف المدّة الزمنية لدورته العادية الثانية وذلك بعد مرور 5 أشهر من العمل البرلماني. وفي إطار متابعتها لهذا العمل، أعدّت البوصلة بطاقات لتقديم مؤشرات وأرقام متعلّقة بحضور وغيابات النوّاب تعكس واقع العمل البرلماني والنسق المعتمد من طرف المشرّع، وذلك على مستوى الجلسة العامّة واللّجان القارّة والخاصّة والكتل البرلمانية.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				واستنتجت على ضوء هذه المعطيات، أنّ الغيابات ليست استثناءات أو حالات معزولة وإنما ظاهرة جديّة من شأنها تعطيل سير الجلسات العامة واجتماعات اللّجان.
				لذلك تدعو البوصلة مجلس نوّاب الشعب، رئاسةً ومكتبا وأعضاء، إلى التصدّي نهائيا لهذه الظاهرة وفرض احترام النظام الداخلي وتحميل المسؤولية للجميع لأداء مهامهم وتنظيم أعمالهم، ما سينعكس إيجابيا على نسق أشغال المجلس وعملية المصادقة على مشاريع القوانين، والصورة التي يعكسها للمواطنين.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/5716418012bdaa43322decb2" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
		</td>
		{% if bla %}
		<td style="width: 310px; vertical-align: top; background-image: url('http://{{request.host}}/static/images/newsletter_2_1.png');">
		</td>
		{% endif %}
	</tr>
	
	<tr style="vertical-align: top;">
	<td>
	<div style="padding-left: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_2_2.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				البوصلة تشارك في حلقة نقاش بكلية الحقوق بصفاقس حول التطبيق التشريعي للدستور واللاّمركزية
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				شاركت منظّمة البوصلة بحلقة نقاش حول الدستور واللاّمركزية نظّمتها كلية الحقوق بصفاقس يوم الإربعاء 20 أفريل 2016. افتتح الحلقة عميد الكليّة وحضرها عدد من الأساتذة والطلبة إلى جانب كاتب عامّ بلدية.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تناول النقاش أساسا التطبيق التشريعي للدستور ومشروع مجلّة الجماعات المحلية ومشروع القانون الانتخابي للبلديات والمجالس الجهوية. تعرّض فريق البوصلة الحاضر إلى تقرير المنظّمة حول التطبيق التشريعي للدستور والتقرير حول مشروع مجلّة الجماعات المحلية الذي تمّ نشره من طرف المنظّمة اثر مشاركتها في الاستشارة الوطنية لمشروع المجلّة.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/pub/56bb270e12bdaa423c26e2d3" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-right: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_2_3.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				البوصلة تواصل اختيارها للراصدين المحليّين بمختلف البلديات بتطاوين بعد باجة
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تواصل البوصلة عمليّة اختيار راصدين محلّين بمختلف البلديّات بالبلاد. وقد تمّ اختيار راصدين بمختلف بلديّات ولاية تطاوين بعد ولاية باجة. يتمّ اختيار الراصد المحلّي اثر اللقاء به بجهته، تكوينه ثمّ ابرام اتفاقية عمل يشرع اثرها بمتاعبة نشاط بلديته بشكل مباشر.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تجدر الاشارة إلى أنّ نسبة تواجد الراصدين المحليين في كافة البلديات هي  10%،  حيث بلغ عدد الراصدين المحليين الفاعلين   30راصد بمختلف الجهات.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				راصد بلدية هو مواطن مهتمّ بالشأن البلدي، يتابع الجلسات التمهيدية والدورات العادية في بلديّته ويشارك في عملية أخذ القرار على النطاق المحلّي.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.facebook.com/AlBawsala/videos/vb.394269643939201/1164332770266214/?type=3&theater" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_watch.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
	<td style="background-image: url('http://{{request.host}}/static/images/newsletter_bgcolor.png')">
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="font-weight: bold;">
				حلقة النقاش الثالثة بين المواطنين والنوّاب حول اللامركزية والديمقراطية المحليّة بتطاوين
			</div>
			<div style="text-align: justify;">
				نظّمت البوصلة حلقة النقاش الثالثة  مع المواطنين حول اللاّمركزية والديمقراطية المحليّة يوم الأحد غرّة ماي على الساعة العاشرة والنصف صباحا بالمركب الثقافي بتطاوين بحضور النوّاب غازي الشواشي، ليلى بوقطف، بسمة الجبالي ومريم بوجبل
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.youtube.com/watch?v=hM3ouzpzc6A" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px;">
				متابعة الدورة البلدية العادية الأولى من قبل الراصدين المحليّين
			</div>
			<div style=" text-align: justify;">
				عمل كلّ من فريق مرصد بلدية والراصدين المحليّين اللذين تم اختيارهم مسبقا وتدريبهم على كيفية كتابة محضر جلسة، على متابعة سير الدورة العادية الأولى لهذه السنة بمختلف بلديّات ولاية باجة وإرسال محاضر في الغرض تمّ تحميلها على الموقع مرصد بلدية.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/article/5720f19b12bdaa09e53bd23c" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px;">
				يوم تكويني للنوّاب حول اللامركزية
			</div>
			<div style=" text-align: justify;">
				نظّمت البوصلة يوم تكويني للنوّاب حول اللاّمركزية  يوم السبت 30 أفريل بنزل الميشتل بالعاصمة. أدار اليوم التكويني فريق مرصد بلدية بحضور النائب حسّونة ناصفي الذي تفاعل إيجابيا مع التكوين معبّرا فيما بعد عن إشادته بالمجهود الذي تبذله البوصلة مع نوّاب مجلس الشعب.
			</div>

			<div style="font-weight: bold; padding-top: 20px;">
				البوصلة ترصد آراء المواطنين حول ظاهرة الغيابات في مجلس نواب الشعب
			</div>
			<div style="text-align: justify;">
				في متابعة حيّة لتفاعل المواطنين مع ظاهرة الغيابات داخل مجلس نوّاب الشعب، نشرت البوصلة على موقعها على فايسبوك صورا للمواطنين من الشارع التونسي ترصد رأيهم حول الظاهرة. وقد تفاعل المواطنون مستنكرين غياب النوّاب من جهة ومؤكّدين أهمّية العمل لاسيما مع الوضع السياسي والاقتصادي والاجتماعي الذي تمرّ به البلاد.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/media/set/?set=a.1155854074447417.1073741863.394269643939201&type=3" target="_blank">+ لمعرفة المزيد</a>
			</div>
		</div>
	</div>	
	</td>
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_presse.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b6ffb2;">
			<div style="font-style: italic;">
				مشاركة أنس بن عبد الكريم، رئيسة جمعية البوصلة، في برنامج "ناس نسمة" للحديث حول جلسات الحوار مع الحكومة بين الملفّات الحارقة وغيابات النوّاب.
			</div>
			<div style="color: #777;">
				قناة نسمة | 27/04/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1157223537643804/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				 مشاركة أنس بن عبد الكريم، رئيسة جمعيّة البوصلة، ببرنامج حديث الساعة على الوطنية الأولى للحديث عن آخر الأرقام والمؤشرات التي نشرتها البوصلة والمتعلّقة بعمل مجلس نوّاب الشعب للخمس أشهر الفارطة من مدّته النيابية الثانية.
			</div>
			<div style="color: #777;">
				الوطنية الأولى | 19/04/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1151204804912344/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				{% if bla %}
				تحدّثت أنس بن عبد الكريم رئيسة منظّمة البوصلة في راديو كلمة عن النقائص التي يعاني منها مجلس نوّاب الشعب.
				{% endif %}
				أنس عبد الكريم: رغم النقائص مجلس النواب يعمل
			</div>
			<div style="color: #777;">
				راديو كلمة | 19/04/2016 | <a href="https://www.facebook.com/RadioKelmaOfficielle/videos/920921861339748/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				بوصلة: غيابات النوّاب أصبحت ظاهرة ومكتب المجلس لا يُطبق قانون الاقتطاع لاعتبارات سياسية
			</div>
			<div style="color: #777;">
				 راديو شمس أف | 19/04/2016 | <a href="http://www.shemsfm.net/ar/actualite/%D8%A8%D9%88%D8%B5%D9%84%D8%A9-%D8%BA%D9%8A%D8%A7%D8%A8%D8%A7%D8%AA-%D8%A7%D9%84%D9%86%D9%88%D8%A7%D8%A8-%D8%A3%D8%B5%D8%A8%D8%AD%D8%AA-%D8%B8%D8%A7%D9%87%D8%B1%D8%A9-%D9%88%D9%85%D9%83%D8%AA%D8%A8-%D8%A7%D9%84%D9%85%D8%AC%D9%84%D8%B3-%D9%84%D8%A7-%D9%8A-%D8%B7%D8%A8%D9%82-%D9%82%D8%A7%D9%86%D9%88%D9%86-%D8%A7%D9%84%D8%A7%D9%82%D8%AA%D8%B7%D8%A7%D8%B9-%D9%84%D8%A7%D8%B9%D8%AA%D8%A8%D8%A7%D8%B1%D8%A7%D8%AA-%D8%B3%D9%8A%D8%A7%D8%B3%D9%8A%D8%A9-138293" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				الحضور والغيابات في أشغال مجلس نواب الشعب: أين يختفي نواب الشعب؟
			</div>
			<div style="color: #777;">
				المغرب | 19/04/2016 | <a href="http://ar.lemaghreb.tn/%D8%B3%D9%8A%D8%A7%D8%B3%D8%A9/%D9%85%D8%AC%D9%84%D8%B3-%D8%A7%D9%84%D9%86%D9%88%D8%A7%D8%A8/item/2831-%D8%A7%D9%84%D8%AD%D8%B6%D9%88%D8%B1-%D9%88%D8%A7%D9%84%D8%BA%D9%8A%D8%A7%D8%A8%D8%A7%D8%AA-%D9%81%D9%8A-%D8%A3%D8%B4%D8%BA%D8%A7%D9%84-%D9%85%D8%AC%D9%84%D8%B3-%D9%86%D9%88%D8%A7%D8%A8-%D8%A7%D9%84%D8%B4%D8%B9%D8%A8-%D8%A3%D9%8A%D9%86-%D9%8A%D8%AE%D8%AA%D9%81%D9%8A-%D9%86%D9%88%D8%A7%D8%A8-%D8%A7%D9%84%D8%B4%D8%B9%D8%A8%D8%9F" target="_blank">الرابط</a>
			</div>
		</div>
		<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_jobs.png" style="width: 308px;"></div>
		<div style="padding: 20px;  background-color: #fef1c9; text-align: justify;">
			للانضمام لفريق البوصلة، تقدّم المنظّمة عرض عمل لمساعد إداري ولوجيستي للعمل مع المسؤول المالي والإداري على مختلف المهام الإدارية واللوجيستية للمنظّمة. فعلى كلّ من يهمّه الأمر وتتوفّر فيه شروط الترشّح مراسلتنا عبر <a href="mailto:join@albawsala.com">البريد الإلكتروني</a> مع إرفاق السيرة الذاتية ورسالة ترشّح قبل 28 ماي 2016.
			<br/><br/>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer.png');
		">
			<div style="padding-top: 20px; padding-right: 45px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 75px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-right: 35px;">
				<a href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>
		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
