<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
background-color:#eee;
font-family:'Tahoma';
font-size:13px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr style="vertical-align: top;">
		<td colspan="2" style="
		height: 160px;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_fr.png');
		">
			<div style="padding-top: 107px; padding-left: 490px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>	
		</td>
	</tr>

	<tr style="vertical-align: top;">
	<td style="width: 310px;">
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				Droit d'accès à l'information
			</div>
			<div style="font-style: italic; padding-top: 10px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				L'organisation Al Bawsala publie son rapport relatif à la consécration de ce droit
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Le rapport de l'organisation Al Bawsala s'inscrit dans une logique de valorisation des efforts fournis par le pouvoir législatif et la société civile en vue d'approuver cette loi dans une version que nous considérons comme progressiste et consacrant réellement le droit garanti par la Constitution. Cela constitue un fait historique méritant toute l'attention et des leçons doivent en être tirées.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Ces conclusions sont d'autant plus importantes que le travail autour de ce projet a été long et fastidieux. Cela est principalement dû au refus préalable du gouvernement d'inclure toutes les modifications opérées sur le texte par la commission des droits et libertés. Cette dernière avait pourtant opéré à la lumière des recommandations de la société civile. Le rejet de ces modifications a retardé l'approbation du projet pour une durée de plus d'une année.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/fr/pub/570f5ac612bdaa469dbe0b21" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more_fr.png">
				</a>
			</div>
		</div>
	</td>
	<td style="width: 310px; padding-top: 4px;  padding-bottom: 4px; vertical-align: top;">
		<img src="http://{{request.host}}/static/images/newsletter_1_1_fr.png" style="width: 308px; padding-left:2px;">
	</td>
	</tr>
	
	<tr style="vertical-align: top;">
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_1_3.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				Marsad Baladia – Accès à l’information dans les municipalités
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				La municipalité de Mahrès a obtenu le degré de transparence le plus élevé (100%) parmi les 264 municipalités de Tunisie et ce grâce à sa réponse à toutes les demandes d’accès à l’information déposées par l’équipe Marsad Baladia en 2014 et 2015 ainsi que l’envoi de toutes les informations demandées sous formes saisie et exploitable (Excel). Il est nécessaire de mentionner que l’affichage des informations récoltées  sur le site Marsad Baladia requiert leur saisie intégrale. L’équipe a jusque là passé 1560 heures sur cette seule tâche.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Le degré de transparence de chaque municipalité a été mesuré à partir des informations fournies à la suite du dépôt d’une demande d’accès aux documents publics en 2014 et 2015. A partir de mars 2016, un nouvel indice de transparence sera utilisé. Il pendra en considération le respect des délais de réponse prescrits par la loi et la publication des informations sur les sites officiels des municipalités.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://baladia.marsad.tn/article/56e919a412bdaa73732b2394" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more_fr.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_1_2.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				Organisation de cercles de débat élus-citoyens
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Al Bawsala a organisé le dimanche 27 mars 2016 dans le jardin public de Tajerouine, Gouvernorat du Kef, un cercle de débat entre les citoyens et les députés Hassan Ameri (Nidaa Tounes) et Hedi Soula (Ennahdha) afin d’encourager la participation des premiers dans la vie publique et politique.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Les citoyens ont profité du débat pour rappeler l’absence des députés et responsables politiques de la région après les élections de 2014. Ils ont également abordé de nombreux problèmes auxquels doit faire face la région et qui concernent les secteurs de l’agriculture, la santé, le développement, la culture et le sport. Certains jeunes ont ainsi exprimé leurs espoirs de profiter de l’accès à la maison de la culture, de la rénovation de la salle sportive couverte de Tajerouine, de l’appui nécessaire aux petits agriculteurs ainsi que la reprise d’une série de projets à l’arrêt dans la région. En réponse à ces interventions, les élus ont rappelé à leur tour leur rôle de porteurs de messages lors des assemblées plénières et des commissions à l’Assemblée et se sont engagés à les faire parvenir aux ministères concernés et à tenir les autorités locales et régionales redevables.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.youtube.com/watch?v=irDeQCXXXjQ&feature=share" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_watch_fr.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="font-weight: bold;">
				Al Bawsala publie des fiches explicatives portant sur l’amendement de la loi relative à l’infraction de la réglementation sanitaire
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a publié des fiches explicatives accompagnées d’images pour retracer les principales modifications relatives à la loi n°2014/54 portant amendement de la loi n°59-2006, datée du 14 aout 2006 et portant infractions à la législation sanitaire dans les zones revenants aux collectivités territoriales et ce à l’issue de son adoption par l’assemblée plénière de l’Assemblée des Représentants du Peuple, le 22 mars 2016.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/media/set/?set=a.1129689147063910.1073741860.394269643939201&type=3" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Observateur local dans le gouvernorat de Béja
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a choisi 5 citoyens et une citoyenne de 6 municipalités dans le gouvernorat de Béja pour devenir des observateurs locaux. Les 6 observateurs locaux du Gouvernorat sont intéressés par le suivi des processus de prise de décision à échelle locale.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/videos?ref=page_internal" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Rapport sur la mise en œuvre législative de la Constitution
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a organisé un cercle de débat pour présenter un rapport sur la mise en œuvre législative de la Constitution, deux ans après l’adoption de cette dernière. L’évènement s’est tenu le lundi 14 mars 2016 dans l’enceinte de la faculté des sciences juridiques de Jendouba en coordination avec le département de Droit Public. De nombreux étudiants et professeurs ont assisté à l’événement, accompagnés de nombreux représentants de la société civile.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/photos/a.458257467540418.105738.394269643939201/1124530607579764/?type=3" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Observation d'une violation du règlement intérieur durant les opérations de vote
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Lors de l’observation de la procédure de vote sur le projet de loi relatif au Conseil Supérieur de la Magistrature, l’équipe d’Al Bawsala a observé une violation de la Constitution et du règlement intérieur
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/photos/pb.394269643939201.-2207520000.1460549884./1128912343808257/?type=3&theater" target="_blank">+ Plus d'informations</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_presse_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b6ffb2;">
			<div style="font-style: italic;">
				Projet de loi relatif au droit d’accès à l’information aujourd’hui en examen à l’ARP : Le Snjt et Al Bawsala opposent leur veto
			</div>
			<div style="color: #777;">
				La Presse | 08/03/2016 | <a href="http://www.lapresse.tn/08032016/111466/le-snjt-et-al-bawsala-opposent-leur-veto.html" target="_blank">Lien</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				Tunisie: Le projet de loi organique sur le droit d'accès à l'information "contraire à la constitution", selon deux associations
			</div>
			<div style="color: #777;">
				HuffPost Tunisie | 09/03/2016 | <a href="http://www.huffpostmaghreb.com/2016/03/09/tunisie-acces-information_n_9416824.html" target="_blank">Lien</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				Droit d’accès à l’information : Al Bawsala détourne les slogans des partis politiques représentés à l’ARP
			</div>
			<div style="color: #777;">
				BusinessNews | 09/03/2016 | <a href="http://www.businessnews.com.tn/droit-dacces-a-linformation--al-bawsala-detourne-les-slogans-des-partis-politiques-representes-a-larp,520,63026,3" target="_blank">Lien</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				Droit d’accès à l’information : la société civile réaffirme son rôle de garde-fou
			</div>
			<div style="color: #777;">
				BusinessNews | 10/03/2016 | <a href="http://www.businessnews.com.tn/droit-dacces-a-linformation--la-societe-civile-reaffirme-son-role-de-garde-fou,519,63060,3" target="_blank">Lien</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				Tunis – ARP : Fin de la polémique autour du droit d’accès à l’information
			</div>
			<div style="color: #777;">
				l’Économiste Magrébin | 11/03/2016 | <a href="http://www.leconomistemaghrebin.com/2016/03/11/tunis-fin-polemique-droit-acces-information/" target="_blank">Lien</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				Intervention de Ons Ben Abd Karim, porte parole d’Al Bawsala, dans l’émission "في أسبوع"  à la chaine de télévision nationale le 18 mars 2016 pour parler du projet de loi relatif à  l’accès à l’information
			</div>
			<div style="color: #777;">
				18/03/2016 | <a href="https://www.facebook.com/AlBawsala/videos" target="_blank">Lien</a>
			</div>
		</div>
		<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_jobs_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px;  background-color: #fef1c9; text-align: justify;">
			Al Bawsala recrute un(e) développeur web pour contribuer au développement de nos différents sites web sous Marsad.tn.<br>
			Veuillez envoyer votre CV accompagné d’une lettre de motivation sur notre <a href="mailto:join@albawsala.com">adresse e-mail</a> en spécifiant dans l’objet de votre courrier [Candidature pour le poste Développeur Web] avant le 15/04/2016.
		</div>
	</div>
	</td>	
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer_fr.png');
		">
			<div style="padding-top: 20px; padding-left: 35px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 95px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-left: 28px;">
				<a href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>

		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
