<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
background-color:#eee;
font-family:'Tahoma';
font-size:13px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr style="vertical-align: top;">
		<td colspan="2" style="
		width: 620px;
		height: 160px;
		vertical-align: top;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_fr.png');
		">
			<div style="padding-top: 20px; padding-left: 575px; color: white; font-weight: bold;">N°2</div>
			<div style="padding-top: 70px; padding-left: 490px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>	
		</td>
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2">
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				5 mois de la deuxième session parlementaire
			</div>
			<div style="font-style: italic; padding-top: 10px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				Al Bawsala publie son rapport sur l’activité de l’assemblée des représentants du peuple et condamne la propagation du phénomène d’absentéisme des députés.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				La deuxième session parlementaire de l’assemblée des représentants du peuple se poursuit, et à la fin du mois de Mars, l’assemblée a atteint l’équivalent de la moitié de cette session avec 5 mois de travail. Dans le cadre du suivi de ce travail, Al Bawsala a réalisé des fiches de présentations d’indicateurs et de chiffres relatifs à la présence et à l’absence des élus qui reflètent la réalité du travail parlementaire ainsi que le rythme adopté par le législateur, et ce au niveau de la séance plénière, des commissions permanentes, spéciales et des blocs parlementaires.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Al Bawsala a constaté à la lumière de ces données que les absences n’étaient pas des exceptions ou des cas isolés mais un phénomène sérieux qui peut être relevé dans les divers organes de l’assemblée des représentants du peuple et qui a pour effet d’entraver le bon déroulement des séances plénières et des réunions des commissions. De ce fait, Al Bawsala appelle l’Assemblée des Représentants du Peuple, à lutter contre ce phénomène et à imposer le respect du règlement intérieur, ce qui aurait pour résultat de responsabiliser tout le monde et de les inciter à accomplir leur mission et organiser leurs travaux, ce qui aura un impact positif sur le rythme de travail de l’Assemblée et le processus d’approbation des projets de loi ainsi que sur l’image reflétée au citoyen.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/5716418012bdaa43322decb2" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more_fr.png">
				</a>
			</div>
		</div>
		</td>
		{% if bla %}
		<td style="width: 312px; padding-top: 2px;  padding-bottom: 4px; padding-left: 2px; vertical-align: top;">
			<img src="http://{{request.host}}/static/images/newsletter_1_1_fr.png" style="width: 310px;">
		</td>
		{% endif %}
	</tr>
	
	<tr style="vertical-align: top;">
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_2_2.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				Al Bawsala organise un cercle de débat à la faculté de droit de Sfax sur la mise en œuvre législative de la Constitution et sur la décentralisation
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				L’organisation Al Bawsala a organisé le mercredi 20 Avril 2016 un cercle de débat au sujet de la Constitution et la décentralisation. L’événement a été inaugurée par le doyen de la faculté et y ont assisté nombre de professeurs et d’étudiants ainsi que le secrétaire général d’une municipalité.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Le débat a porté essentiellement sur la mise en œuvre législative de la Constitution ainsi que sur le projet du code des collectivités locales et celui de la loi électorale des municipalités et des conseils régionaux. 
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				L’équipe d’Al Bawsala a exposé le rapport de l’organisation sur la mise en œuvre législative de la Constitution et celui sur le projet du code des collectivités locales qu’elle a publié suite à sa participation à la consultation nationale à son sujet.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/pub/56bb270e12bdaa423c26e2d3" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more_fr.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_2_3.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				Al Bawsala poursuit sa sélection des observateurs locaux dans les diverses municipalités de Tataouine après celles de Beja
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Al Bawsala poursuit l’opération de sélection des observateurs locaux dans les diverses municipalités du pays. Plusieurs observateurs ont été choisis pour les municipalités de Tataouine suite à celles de Beja. Le choix de l’observateur se fait après l’avoir rencontré dans sa région, l’avoir formé et avoir signé une convention de travail suite à laquelle il commence à suivre les activités de sa municipalité de façon directe.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Il est utile de préciser que le taux d’implantation des observateurs dans la totalité des municipalités est de 10%, vu que le nombre total des observateurs locaux a atteint 30 dans les diverses régions.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				L’observateur local est un citoyen qui s’intéresse à l’action municipale, il suit les sessions préliminaires et ordinaires dans sa municipalité et participe à l’opération de prise de décision sur le plan local.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.facebook.com/AlBawsala/videos/vb.394269643939201/1164332770266214/?type=3&theater" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_watch_fr.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
	<td style="background-image: url('http://{{request.host}}/static/images/newsletter_bgcolor_fr.png')">
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="font-weight: bold;">
				Débat public Élus-citoyens à Tataouine sur la décentralisation et la démocratie locale
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a organisé, dimanche le 01 mai 2016,  au centre culturel de Tataouine, un débat entre les citoyens et les députés : Ghazi Chaouachi, Leila Bougatef, Bassma Jbeli et Meriem Boujbal,  concernant la décentralisation et la démocratie locale afin d’encourager la participation citoyenne dans la vie publique et politique.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.youtube.com/watch?v=hM3ouzpzc6A" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Suivi de la première session ordinaire municipale par les observateurs locaux
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Les  observateurs locaux du gouvernorat de Béja, citoyens intéressés par le suivi du processus de la prise de décision à échelle locale choisis et formés de la part de l’équipe Marsad Baladia d’Al BAwsala, ont suivi la première session ordinaire dans leurs municipalités et ont établi des PV téléchargeables sur le site-web du projet Marsad Baladia.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/article/5720f19b12bdaa09e53bd23c" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Journée de formation pour les débutés sur la décentralisation
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a organisé, samedi le 30 Avril 2016, une journée de formation pour les députés sur la décentralisation. La formation a  été animée  par l’équipe Marsad Baladia en la présence d’un seul député « Hassouna Nassi » bien que l’invitation   a été adressée à plusieurs. Ce dernier a exprimé son appréciation du contenu de la formation et sa vive considération pour l’effort fourni.
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Les citoyens s'expriment sur l'absentéisme des débutés
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Dans le cadre du suivi des réactions des citoyens face au phénomène de l’absentéisme au sein de l’assemblée, Al Bawsala a publié sur sa page facebook des photos de citoyens tunisiens qui ont réagi par rapport à l’absentéisme des élus en le condamnant et en insistant sur la valeur du travail surtout dans le contexte politique, économique et social actuel.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/media/set/?set=a.1155854074447417.1073741863.394269643939201&type=3" target="_blank">+ Plus d'informations</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_presse_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b6ffb2;">
			<div style="font-style: italic;">
				Al Bawsala pointe du doigt le fléau de l’ARP : l’absentéisme des élus !
			</div>
			<div style="color: #777;">
				businessnews | 19/04/2016 | <a href="http://www.businessnews.com.tn/al-bawsala-pointe-du-doigt-le-fleau-de-larp--labsenteisme-des-elus,520,63929,3" target="_blank">Lien</a>
			</div>
			<div style="padding-top: 20px; font-style: italic;">
				Les députés sont aux abonnés absents! 
			</div>
			<div style="color: #777">
				Economiste Maghrebin | 19 avr. 2016‎ | <a href="http://www.leconomistemaghrebin.com/2016/04/19/deputes-abonnes-absents/" target="_blank">Lien</a>
			</div>
			<div style="padding-top: 20px; font-style: italic;">
				Tunisie-ARP : Les assidus, les bonnets d'âne et les autres !
			</div>
			<div style="color: #777">
				African Manager | 19 avr. 2016‎ | <a href="http://africanmanager.com/16_tunisie-arp-les-assidus-les-bonnets-dane-et-les-autres/" target="_blank">Lien</a>
			</div>
			<div style="padding-top: 20px; font-style: italic;">
				Tunisie: Le taux d'absentéisme à l'Assemblée à nouveau épinglé par Al Bawsala
			</div>
			<div style="color: #777">
				Al Huffington Post | 19 avr. 2016 | <a href="http://www.huffpostmaghreb.com/2016/04/19/assemblee-des-representants_n_9728572.html" target="_blank">Lien</a>
			</div>
			<div style="padding-top: 20px; font-style: italic;">
				Absentéisme des députés: La démocratie des sièges vides
			</div>
			<div style="color: #777">
				Kapitalis | 23 avr. 2016 | <a href="http://kapitalis.com/tunisie/2016/04/23/absenteisme-des-deputes-la-democratie-des-sieges-vides/" target="_blank">Lien</a>
			</div>
			<div style="padding-top: 20px; font-style: italic;">
				Tunisie: La campagne de sensibilisation d'Al Bawsala sur le taux d'absentéisme à l'ARP (PHOTOS)
			</div>
			<div style="color: #777">
				Al Huffington Post | 20 avr. 2016 | <a href="http://www.huffpostmaghreb.com/2016/04/20/bawsala-campagne-tunisie_n_9736878.html" target="_blank">Lien</a>
			</div>
		</div>
		<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_jobs_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px;  background-color: #fef1c9; text-align: justify; height:380px">
			<div>
			Al Bawsala recrute <span style="font-weight:bold">un(e) assistant administratif(ve) et logistique</span>.
			</div>
			<div style="padding-top:20px;">
			En collaboration avec le responsable financier, l'assistant(e)administratif(ve) et logistique veillera principalement à réaliser les opérations de gestion administratives et à assurer les besoins logistiques de l’organisation. 
			</div>
			<div style="padding-top:20px;">
			Veuillez envoyer votre CV accompagné d’une lettre de motivation sur l’adresse e-mail [<a href="mailto:join@albawsala.com">join@albawsala.com</a>] en spécifiant dans l’objet de votre courrier [Candidature pour le poste d’assistant administratif et logistique] avant le 28/05/2016.
			</div>
		</div>
	</div>
	</td>	
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer_fr.png');
		">
			<div style="padding-top: 20px; padding-left: 35px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 95px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-left: 28px;">
				<a href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>

		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
