<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
direction:rtl;
background-color:#eee;
font-family:'Tahoma';
font-size:14px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr>
		<td colspan="2" style="
		width: 620px;
		height: 160px;
		vertical-align: top;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_ar.png');
		">
			<div style="padding-top: 20px; padding-right: 540px; font-weight: bold; color: white;">
				العدد : 5
			</div>
			<div style="padding-top: 75px; padding-right: 488px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>
		</td>
	</tr>

	<tr><td colspan="2" style="height:4px;"></tr>

	<tr style="vertical-align: top;">
		<td colspan="2">
		<div style="padding: 20px 20px 20px 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				مجلس نوّاب الشعب
			</div>
			<div style="font-style: italic; padding-top: 5px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				التصويت على عدم تجديد الثقة في حكومة الحبيب الصيد
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تابع فريق مرصد مجلس أشغال الجلسة العامّة ليوم 30 جويلية 2016 المخصّصة للنظر في طلب رئيس الحكومة التصويت على تجديد الثقة لمواصلة الحكومة نشاطها. وقد تمّ التصويت خلال هذه الجلسة العامّة ليوم السبت 30 جويلية 2016 على عدم تجديد الثقة لحكومة الحبيب الصيد.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				وأسفرت النتائج مفصّلة على 3 أصوات نعم و27 احتفاظ و118 ضدّ بما جملته 148 صوتا مقابل 211 نائبا تمّ تسجيل حضورهم خلال هذه الجلسة.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				وبمقتضى الفصل 150 من النظام الداخلي، قام رئيس الحكومة بطلب تجديد الثقة لمواصلة الحكومة نشاطها حيث تولّى إلقاء كلمة لعرض طلبه مفصّلا ومعلّلا.كما تولّى كذلك الاستماع إلى تفاعلات النوّاب والإجابة عنها حتى يتمّ التصويت في الأخير بأغلبية أعضاء مجلس نوّاب الشعب (أي 109 صوت).
			</div>
			<div style="padding-top: 15px;">
				<a href="http://majles.marsad.tn/2014/chroniques/579c6610cf441220a520fb92" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
		</td>
	</tr>
	
	<tr style="vertical-align: top;">
	<td>
	<div style="padding-left: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_5_2.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				توصي البوصلة لجنة التشريع العامّ برفض مشروع قانون المصالحة
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تمّ يوم الجمعة 22 جويلية 2016 الاستماع لمنظّمة البوصلة ضمن استماعات لجنة التشريع العامّ حول مشروع قانون المصالحة المالية والاقتصادية والذي تمّت مناقشته داخل اللّجنة منذ 29 جوان 2016.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تمّ الاستماع لمنظّمة البوصلة صحبة منظّمتين من المجتمع المدني في تونس، وهما على التوالي "أنا يقظ" و‏"الشبكة التونسية للعدالة الانتقالية". وأجمعت الأطراف الثلاثة على موقف قاطع ضدّ مشروع القانون.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				وقد طلبت البوصلة من لجنة التشريع العام أن توصي جهة المبادرة بسحب مشروع القانون، وباعتبار أنّ سحب مشروع القانون من لجنة التشريع العامّ غير ممكن إجرائيّا فقد طالبت البوصلة اللّجنة تقديم توصية بعدم التصويت لفائدة مشروع قانون المصالحة ضمن تقريرها الذي ستحيله على الجلسة العامّة.كما تقدّمت البوصلة بإبداء موقفها حول ضرورة عدم تمرير مشروع القانون مبيّنة المؤيّدات القانونية لهذا الموقف.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/5797743ecf441205ebf5a11a" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-right: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_5_3.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				مواطنون بالمحجوبة يختارون مشروع نادي الشباب الريفي
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تمّ يوم الجمعة 5 أوت 2016 إجراء تصويت عامّ لمتساكني منطقة المحجوبة حول الأولويات ضمن مشروع "تنظيم الجماعة" (Community organizing) الذي تشرف عليه منظّمة البوصلة بالمنطقة. وقد شهد التصويت مشاركة أكثر من 40 متساكن من المحجوبة وأفضى إلى اختيار مشروع نادي الشباب الريفي.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				أدار قادة محليّون لـتنظيم الجماعة عمليّة التصويت حول الأولويّات وقد تمّ إجراؤها أمام المدرسة الابتدائية بالمحجوبة. وقد ساهم الشباب والأطفال الحاضرين بشكل فعّال في دعم مشروع النادي.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				مازال مشروع تنظيم الجماعة بالمحجوبة في مراحله الأولى، ويتواصل من خلال الدور الكبير الذي يلعبه القادة المحليّون لـتنظيم الجماعة في العمل على تحقيق مشروع نادي الشباب الريفي بالاعتماد على مجهودات المواطنين بالمنطقة.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.facebook.com/events/1103703899714359/?active_tab=posts" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
	<td style="background-image: url('http://{{request.host}}/static/images/newsletter_bgcolor.png')">
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="text-align: justify; font-weight:bold;">
				يوم مفتوح حول اللاّمركزية بسوسة
			</div>
			<div style="text-align: justify; padding-top:5px;">
				بمشاركة المجتمع المدني والراصدين المحليّين من مختلف البلديّات بولاية سوسة، نظّمت البوصلة يوم مفتوح للحوار حول اللاّمركزية وتشريك المواطن في عملية أخذ القرار على النطاق المحلّي. 
			</div>
			<div style="text-align: justify; padding-top:5px;">
				خصّص صباح اليوم للدورة التكوينية للراصدين المحليّين ثمّ تمّ فتح باب الحوار مع المواطنين والناشطين بالمجتمع المدني للتفاعل حول موضوع اللامركزية والديمقراطية المحليّة بدء بالوقوف على مختلف المفاهيم ثمّ الإطار القانوني المنظّم للجماعات المحليّة وتطبيق الباب السابع من الدستور المتعلّق بالسلطة المحليّة.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/events/1562481810727032/?active_tab=posts" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style=" text-align: justify; padding-top: 20px; font-weight:bold;">
				عدم احترام الطابع الشخصي للتصويت
			</div>
			<div style="text-align: justify; padding-top:5px;">
				خلال التصويت على تجديد الثقة لحكومة الحبيب الصّيد في الجلسة العامّة المنعقدة بتاريخ 30 جويلية 2016، وبحضور 211 نائبا، تواصل عدم احترام الدستور والنظام الداخلي للمجلس اللّذين ينصّان على أنّ التصويت داخل المجلس شخصي ولايمكن تفويضه. هذا وقد رصد فريق مرصد مجلس عدم احترام الطابع الشخصي للتصويت من طرف النائب محمد الهادي قديش عن كتلة حركة نداء تونس ما تمّ نشره بعد التثبّت من الأشرطة المصوّرة ولوحة التصويت.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/photos/a.458257467540418.105738.394269643939201/1219542198078604/?type=3" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style=" text-align: justify; padding-top: 20px; font-weight:bold;">
				بلديّة الحامّة والشننّي نحّال ضمن البلديّات السياحية
			</div>
			<div style=" text-align: justify; padding-top: 5x;">
				تمّ حسب الرائد الرسمي لـ29 جويلية 2016 الإعلان عن تصنيف كلّ من بلديّة الحامّة والشننّي نحّال ضمن البلديات السياحية.
			</div>
			<div style=" text-align: justify; padding-top: 5x;">
				تمنح البلديّات السياحية إعانات لدعم عملها في مجال النظافة والتطهير من قبل صندوق حماية المناطق السياحية وهو أحد الصناديق الخاصّة بالخزينة التابع لحساب وزارة السياحة والصناعات التقليدية. يأذن وزير السياحة بصرف هذه الإعانات للبلديات، التي يتمّ إدراجها في ميزانية البلدية.
			</div>
			<div style=" text-align: justify; padding-top: 5x;">
				يمكن الاطّلاع على قائمة البلديّات التي تنتفع بإعانات من الصندوق على موقع مرصد بلدية.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/wiki/fonds/caisse_de_protection" target="_blank">+ لمعرفة المزيد</a>
			</div>
		</div>
	</div>	
	</td>
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_presse.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b6ffb2;">
			<div style="text-align: justify; font-style: italic;">
				شاركت شيماء بوهلال -مسؤولة عن مشروع بمنظّمة البوصلة- ببرنامج "البلاد اليوم" على الإذاعة الوطنية للحديث على آخر أشغال مجلس نوّاب الشعب وانتهاء الدورة البرلمانية الثانية مع الجلسة العامّة الأخيرة المتعلّقة بتجديد الثقة لحكومة الحبيب الصيد. وأشارت المتحدّثة ضمن هذا السياق إلى الحضور القياسي للنوّاب صلب هذه الجلسة العامّة بالمقارنة مع بقيّة الجلسات السابقة ضمن الدورة البرلمانية المنقضية وإلى حجم التدخّلات التي شملت كذلك أسئلة موجّهة لأعضاء من الحكومة.
			</div>
			<div style="color: #777;">
				الإذاعة الوطنية | 3 أوت 2016 <a href="http://www.radionationale.tn/%D8%A7%D9%84%D8%A8%D9%84%D8%A7%D8%AF-%D8%A7%D9%84%D9%8A%D9%88%D9%85/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; text-align: justify; font-style: italic;">
				شاركت شيماء بوهلال -مسؤولة عن مشروع بمنظّمة البوصلة- في برنامج "ميدي شو" للحديث عن حصيلة سير مجلس نوّاب الشعب خلال الدورة البرلمانية الثانية.  هذا وقدّمت المتحدّثة معطيات وأرقام حول نسب الحضور والغياب والتصويت في الجلسات العامّة وداخل اللّجان وكذلك حول الاخلالات التي شهدتها هذه السنة البرلمانية مذكّرة أنّ نشاط منظّمة البوصلة يرمي إلى دعم دور مجلس نوّاب الشعب التشريعي والرقابي. 
			</div>
			<div style="color: #777;">
				موزييك أف أم | 17 أوت 2016 <a href="http://www.mosaiquefm.net/fr/actualite-midi-show/23446/chaima-bouhlel-midi-show-bons-mauvais-eleves-arp.html" target="_blank">الرابط</a>
			</div>
		</div>
		<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_questionnaire.png" style="width: 308px;"></div>
		<div style="padding: 20px;  background-color: #fef1c9; text-align: justify; height: 280px;">
			<div style="padding-top:5px;">
				شاركنا رأيك حول موقع مرصد مجلس من خلال الإجابة على الأسئلة بالاستمارة. نسعى من خلال هذه الاستمارة إلى معرفة تفاعلات المستخدمين للموقع والعمل على إثراءه وتحسينه على مستوى الشكل والمضمون.
				<div><a href="https://docs.google.com/forms/d/1lavoGKjoDwREdJ2bbU5hgP9L2bkMfpCGS3qt_MQnmk8/viewform?edit_requested=true" target="_blank">الرابط</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer.png');
		">
			<div style="padding-top: 20px; padding-right: 45px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 75px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-right: 35px;">
				<a href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>
		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
