<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
direction:rtl;
background-color:#eee;
font-family:'Tahoma';
font-size:14px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr>
		<td colspan="2" style="
		width: 620px;
		height: 160px;
		vertical-align: top;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_ar.png');
		">
			<div style="padding-top: 20px; padding-right: 540px; font-weight: bold; color: white;">
				العدد : 3
			</div>
			<div style="padding-top: 75px; padding-right: 488px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>
		</td>
	</tr>

	<tr><td colspan="2" style="height:4px;"></tr>

	<tr style="vertical-align: top;">
		<td colspan="2">
		<div style="padding: 20px 20px 20px 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				بيان صحفي
			</div>
			<div style="font-style: italic; padding-top: 5px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				القرار الحكومي بإحداث بلديات جديدة وتحوير حدود بلديات أخرى قرار فيه إقصاء لمجلس نوّاب الشعب ولم يتمّ على أسس الشفافية والوضوح
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				قدّمت البوصلة مطلب نفاذ إلى المعلومة لوزارة الشؤون المحليّة قصد توضيح المعايير التي اعتمدتها السلطة التنفيذية في إحداث 66 بلدية جديدة وتحوير حدود 191 بلدية أخرى بأمرين حكوميين بتاريخ 26 ماي 2016 دون الإدلاء بالمعلومات والدراسات التي ارتكز عليها القراران.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				وفي هذا الإطار، تذكّر منظمة البوصلة أنّه وإن سمح التشريع الجاري به العمل بتعميم النظام البلدي عن طريق أمر حكومي، إلاّ أنّ مقتضيات الدستور تستوجب تدخل مجلس نوّاب الشعب في التقسيم الترابي المتعلّق بالجماعات المحلية. وقد أدى الخوض في تفعيل مبدأ تغطية كافة تراب الجمهورية بالنظام البلدي قبل المصادقة على مشروع مجلة الجماعات المحلية إلى إحداث البلديات الجديدة دون تداول مجلس نواب الشعب في طريقة تعميم النظام البلدي، ودون مناقشة المعايير التي يستند عليها بشكل شفاف وموضوعي.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				كما يرتكز تفعيل النظام اللامركزي على عدّة مقوّمات أخرى إضافةً إلى تعميم النظام البلدي والمصادقة على تنقيح القانون المتعلق بالانتخابات والاستفتاء، منها الإطار القانوني المنظّم للجماعات المحلية، لامركزية القضاء الإداري والمالي، والأطر القانونية الأخرى التي تعنى بالموارد البشرية والمالية لهاته الجماعات المحلية.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				إن مسار اللامركزية من أهمّ الإصلاحات التي يأتي بها الدستور في مجال تنظيم السلط، ولا يكون فعالاً إلا بتشريك كل الأطراف من مجلس نواب الشعب ومجتمع مدني ومواطنين وأن يتمّ على أسس الشفافية والوضوح.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				لذلك تدعو جمعية البوصلة مجلس نوّاب الشعب إلى استخدام كافة الآليات التي منحها له الدستور للمشاركة في مسار اللامركزية، إمّا بمساءلة الحكومة في القرارات التي تتّخذها أو بتقديم مبادرات تشريعية متعلّقة بالأطر القانونية الجديدة.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/574d6f9dcf4412049bf1388c" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
		</td>
		{% if bla %}
		<td style="width: 310px; vertical-align: top; background-image: url('http://{{request.host}}/static/images/newsletter_2_1.png');">
		</td>
		{% endif %}
	</tr>
	
	<tr style="vertical-align: top;">
	<td>
	<div style="padding-left: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_3_2.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				مرصد مجلس - البوصلة تتابع أهمّ النقاط بمشروع القانون الأساسي المنقّح والمتمّم للقانون الانتخابي
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				ناقشت لجنة النظام الداخلي والقوانين البرلمانية والحصانة والقوانين الانتخابية مشروع قانون أساسي لتنقيح واتمام القانون الأساسي عدد 2014/16 المتعلّق بالانتخابات والاستفتاء على امتداد ثلاثة أشهر منذ إحالة مشروع القانون على اللجنة في 3 فيفري 2016.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				وقد تابعت البوصلة سلسلة الاجتماعات والاستماعات التي عقدتها اللجنة وأبرز النقاشات حول النقاط الخلافية التي تمّ الاتفاق حولها صلب اللجنة وذلك قبل المصادقة عليه في الجلسة العامّة ونشرت حولها -إلى جانب نشريّتها المعتادة على الموقع- رسوما توضيحية تبرز أهمّ النقاط في القانون.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.facebook.com/AlBawsala/posts/1177416332291191" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-right: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_3_3.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				ضمن اتفاقية عمل مع مؤسسة الإذاعة التونسية - البوصلة تنظّم دورة تكوينية أولى لصحفّي مؤسسة الإذاعة التونسية حول اللاّمركزية
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				نظّمت البوصلة، في إطار برنامجها لدعم القدرات، دورة تكوينية للصحفيّين تمحورت حول اللامركزية والحوكمة المحلية والميزانية البلدية. تعتبر البوصلة مهمّا تقديم المفاهيم الأساسية حول اللاّمركزية وذلك لتمكين الصحفيين من المعطيات اللازمة على ضوء النقاش الذي يفتحه الموضوع في الظرف الراهن.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				شارك في هذه الدورة التكوينية الأولى 15 صحفيّ من مختلف المحطّات الوطنية والجهوية التابعة لمؤسسة الإذاعة التونسية وعددها تسعة. هذا ويهدف برنامج التكوين أساسا إلى تمكين الصحفيين من الكفايات الأساسية حتّى ينجحوا في طرح مختلف المسائل المتعلّقة بالعمل البلدي. 
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/pub/576289a7cf441205b7bca16e" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
	<td style="background-image: url('http://{{request.host}}/static/images/newsletter_bgcolor.png')">
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="font-weight: bold;">
				توصيات البوصلة حول مشروع الأمر الحكومي المتعلق بتنظيم الاستشارات العمومية
			</div>
			<div style="text-align: justify;">
				على إثر عرض مشروع الأمر الحكومي المتعلّق بتنظيم الاستشارات العمومية، تقدّمت البوصلة بجملة من التوصيات حول بعض فصول مشروع الأمر. وتعتبر البوصلة مشروع الأمر ذا أهميّة نظرا لتكريسه إحدى آليّات الدّيمقراطيّة التّشاركيّة وفتحه المجال أمام المواطنين والمجتمع المدني وكلّ الأطراف الفاعلة للمشاركة في صنع القرار.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://www.albawsala.com/ar/pub/575aa91ccf441205b7bca16b" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px;">
				صفحة لمتابعة إحداث بلديات جديدة في كامل تراب الجمهورية
			</div>
			<div style=" text-align: justify;">
				تمّ إحداث 66 بلدية جديدة بأمرين حكوميين بتاريخ 26 ماي 2016، ليصل عدد البلديات المحدثة منذ المصادقة على الدستور إلى 86 بلدية، ومجمل عدد البلديات إلى 350 بلدية وتمّ أيضاً تحوير الحدود البلدية لـ191 بلدية بنفس التاريخ.
			</div>
			<div style="text-align: justify;">
				أحدثت البوصلة صفحة لمتابعة البلديات الجديدة المحدثة، والتي يتمّ تحيينها حسب الأوامر الحكومية التي تصدر في الرائد الرسمي. يجدر التذكير بأن الدستور ينصّ على أن تغطي الجماعات المحلية كامل تراب الجمهورية في الفصل 131، وأنّه قبل إحداث هذه البلديات، تساكن ثلث المواطنين في الجمهورية التونسية خارج المناطق البلدية.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/nouvelles_municipalites" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px;">
				حصيلة أشغال مجلس نوّاب الشعب مفصّلة على الموقع كلّ أسبوع
			</div>
			<div style=" text-align: justify;">
				تابعت البوصلة خلال الأسبوع الأخير الممتد من 06 جوان إلى 11 جوان 2016 أشغال المجلس المتمثّلة في جلسة عمل للّجنة الخاصة لشؤون التونسيين بالخارج وجلستي إستماع بلجنة المالية، لوزير التنمية والإستثمار والتعاون الدولي وزير المالية ومحافظ البنك المركزي. ثمّ، جلسة عمل للجنة التشريع العامّ و4 جلسات عامّة، ثلاث منها متعلّقة بالنظر والمصادقة على مشروع قانون عدد 2016/09 المتعلّق بالبنوك والمؤسسات المالية مرة ثانية بعد الطعن في عدم دستورية إحالته على الجلسة العامّة في المرة الأولى.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/posts/1185989178100573" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px;">
				راصدون محليّون في ولاية زغوان اثر قابس
			</div>
			<div style="text-align: justify;">
				الراصدون المحليّون هم مواطنون ومواطنات مهتمّون بالشأن البلدي، يتابعون الجلسات التمهيدية والدورات العادية في بلدياتهم في كافة تراب الجمهورية، ويشاركون في وضع المواطن في صلب عملية أخذ القرار على النطاق المحلّي.
			</div>
			<div style="text-align: justify;">
				قامت البوصلة إلى حدّ الآن باختيار راصدين محليّين في بلديّات الجهات التالية: باجة، تطاوين، قفصة، جندوبة وقابس ثمّ المحطّة الأخيرة كانت في بلديّات ولاية زغوان.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/observateurs" target="_blank">+ لمعرفة المزيد</a>
			</div>
		</div>
	</div>	
	</td>
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_presse.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b6ffb2;">
			<div style="font-style: italic;">
				مشاركة أنس بن عبد الكريم، رئيسة جمعية البوصلة، في برنامج "ناس نسمة" للحديث حول جلسات الحوارمع الحكومة بين الملفّات الحارقة وغيابات النوّاب.
			</div>
			<div style="color: #777;">
				قناة نسمة | 27/04/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1157223537643804/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				 مشاركة أنس بن عبد الكريم، رئيسة جمعيّة البوصلة، ببرنامج حديث الساعة على الوطنية الأولى للحديث عن آخر الأرقام والمؤشرات التي نشرتها البوصلة والمتعلّقة بعمل مجلس نوّاب الشعب للخمس أشهر الفارطة من مدّته النيابية الثانية.
			</div>
			<div style="color: #777;">
				الوطنية الأولى | 19/04/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1151204804912344/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				مشاركة أنس بن عبد الكريم في برنامج "في أسبوع" على القناة الوطنية الأولى للحديث عن حقّ النفاذ للمعلومة، سبل تفعيله ومسؤولية كلّ من المواطن والإدارة في تطبيق هذا الحقّ.
			</div>
			<div style="color: #777;">
				الوطنية الأولى | 18/03/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1126898754009616/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; font-style: italic;">
				مشاركة أنس بن عبد الكريم، رئيسة جمعية البوصلة، في برنامج "حديث الساعة" على القناة الوطنية الأولى مع إلياس الغربي للحديث عن تقييم البوصلة لعمل مجلس نوّاب الشعب بعد 4 أشهر من انطلاق الدورة النيابية الثانية والتعطيل الذي يشهده عمل اللّجان داخل المجلس.
			</div>
			<div style="color: #777;">
				 الوطنية الأولى | 24/02/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1110052335694258/" target="_blank">الرابط</a>
			</div>
		</div>
		<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_jobs.png" style="width: 308px;"></div>
		<div style="padding: 20px;  background-color: #fef1c9; text-align: justify; height: 500px;">
			<div>
			للانضمام لفريق البوصلة، تقدّم المنظّمة عرض عمل <span style="font-weight:bold">لمساعد إداري ولوجيستي</span> للعمل مع المسؤول المالي والإداري على مختلف المهام الإدارية واللوجيستية للمنظّمة. فعلى كلّ من يهمّه الأمر وتتوفّر فيه شروط الترشّح مراسلتنا عبر <a href="mailto:join@albawsala.com">البريد الإلكتروني</a> مع إرفاق السيرة الذاتية ورسالة ترشّح قبل 28 جوان 2016.
			</div>
			<div style="padding-top:20px;">
			للانضمام لفريق البوصلة، تقدّم المنظّمة عرض عمل <span style="font-weight:bold">لمساعد مشروع مرصد ميزانية</span>. فعلى كلّ من يهمّه الأمر وتتوفّر فيه شروط الترشّح مراسلتنا عبر <a href="mailto:join@albawsala.com">البريد الإلكتروني</a> مع إرفاق السيرة الذاتية ورسالة ترشّح قبل 28 جوان 2016.
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer.png');
		">
			<div style="padding-top: 20px; padding-right: 45px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 75px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-right: 35px;">
				<a href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>
		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
