<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
direction:rtl;
background-color:#eee;
font-family:'Tahoma';
font-size:14px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr>
		<td colspan="2" style="
		width: 620px;
		height: 160px;
		vertical-align: top;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_ar.png');
		">
			<div style="padding-top: 20px; padding-right: 540px; font-weight: bold; color: white;">
				العدد : 4
			</div>
			<div style="padding-top: 75px; padding-right: 488px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>
		</td>
	</tr>

	<tr><td colspan="2" style="height:4px;"></tr>

	<tr style="vertical-align: top;">
		<td colspan="2">
		<div style="padding: 20px 20px 20px 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				بيان : النظر في مشروع قانون المصالحة. البوصلة ترفضه رفضا باتا.
			</div>
			<div style="font-style: italic; padding-top: 5px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				تونس في 29 جوان 2016،
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				قرّرت لجنة التّشريع العامّ التخلّي عن أولويّاتها لفائدة النظر في مشروع قانون المصالحة حيث تشرع اليوم في مناقشته. يؤكّد هذا القرار تعنّت رئاسة الجمهوريّة ومجلس نوّاب الشعب في تمرير هذا القانون بالرغم من الرفض القاطع له من قبل مختلف مكوّنات المجتمع المدني الوطنيّة والدوليّة، بالإضافة إلى الهيئة الوقتية للقضاء العدلي والهيئة الوقتية لمراقبة دستوريّة مشاريع القوانين ولجنة البندقية على المستوى الدولي.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				وبناء عليه، تعبّرالبوصلة عن رفضها التامّ لمشروع القانون باعتباره يمثّل:
			<ul>
				<li>خيانة لقيم الثورة ودوسا على كرامة الشعب التونسي ومحوا لذاكرته الجماعيّة،</li>
				<li>خرقا صارخا لدستور الجمهوريّة الثانية ولإرادة المؤسّسين في القطع مع منظومة الفساد والحيف والظلم،</li>
				<li>انحرافا عن مسار العدالة الانتقاليّة الذي كفله الدستور وضربا لمؤسّسات الدولة،</li>
				<li>تكريسا لثقافة تبييض الفساد والافلات من العقاب واللامساواة بين المواطنين أمام القانون.</li>
			</ul>
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تجدّد منظّمة البوصلة رفضها القطعي لهذا المشروع وتدعو كلّ المواطنين ومكوّنات المجتمع المدني والإعلام والصحافة والأحزاب السياسية والنوّاب إلى التجنّد قصد التصدّي له بجدّية. كما تطالب منظّمة البوصلة رئاسة الجمهوريّة بسحب مشروع القانون أو لجنة التشريع العامّ بإسقاطه.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/577319becf441205b7bca16f" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
		</td>
		{% if bla %}
		<td style="width: 310px; vertical-align: top; background-image: url('http://{{request.host}}/static/images/newsletter_2_1.png');">
		</td>
		{% endif %}
	</tr>
	
	<tr style="vertical-align: top;">
	<td>
	<div style="padding-left: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_4_2.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				البوصلة تنشر تقريرا تأليفيا حول مشروع قانون المصالحة
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				أعدّت البوصلة تقريرا تأليفيا حول مشروع قانون المصالحة لتبسيط فصول هذا المشروع بالاعتماد على مجموعة من الأسئلة تغطّي مختلف جوانبه. 
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				من خلال الإجابة عن هذه الأسئلة يطرح التقرير : موضوع مشروع القانون، الأحكام والأنظمة الجديدة المزمع إحداثها، المعنيين بهذه الأحكام، إجراءات التسوية، أثار الصلح، إجراءات الصلح، تركيبة لجنة المصالحة وكيفية إنهاء أعمالها، الأثار القانونية للمشروع على مسار العدالة الانتقالية، كيف تدرس اللجنة مطالب الصلح التي تمّ تقديمها ونوع الرقابة المسلّطة على أعمالها.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/577a6c87cf441205b7bca171" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-right: 2px; padding-top:4px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_4_3.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				البوصلة تودع طلب استماع لدى لجنة التشريع العامّ
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				في إطار رفضها لمشروع قانون المصالحة، أودعت منظّمة البوصلة يوم الثلاثاء 12 جويلية 2016 طلب تحديد جلسة استماع للمنظّمة صلب لجنة التشريع العامّ بمجلس نوّاب الشعب.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				تهدف منظّمة البوصلة عبر جلسة الاستماع هذه إلى بيان مدى خرق مشروع القانون للدستور وتعارضه مع منظومة العدالة الانتقالية، ممّا يحتّم سحب هذا القانون وعدم المصادقة عليه.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.facebook.com/AlBawsala/photos/a.458257467540418.105738.394269643939201/1206965789336245/?type=3&theater" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
	<td style="background-image: url('http://{{request.host}}/static/images/newsletter_bgcolor.png')">
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="text-align: justify;">
				على اثر تصريح النائب شاكر العيادي -رئيس لجنة التشريع العام- بأنّه يمنع تسجيل مداخلات النواب، تذكّر منّظمة البوصلة بفحوى النظام الداخلي الذي ينصّ في الفقرة الأولى من الفصل 76 على أنّ "جلسات اللجان علنية، وللجنة أن تقرّر سرية جلستها بأغلبية أعضائها." 
			<div style="text-align: justify; padding-top:5px;">
				من هذا المنطلق، تشدّد البوصلة على ضرورة احترام النظام الداخلي لما في هذا التصريح من ضرب لحريّة العمل الصحفي ومساسا بحقّ النفاذ إلى المعلومة ومبدأ الشفافيّة، خصوصا وأنّ لجنة التشريع العام تناقش مشروع قانون المصالحة الذي يشغل معظم التونسيين.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.youtube.com/watch?v=i-52URIDa_Y&feature=share" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style=" text-align: justify; padding-top: 20px;">
				شاركت منظّمة البوصلة في ندوة صحفية ضدّ مشروع قانون المصالحة  يوم الجمعة 15 جويلية 2016 على الساعة العاشرة صباحاً بنزل غولدن توليب المشتل بالعاصمة.
			</div>
			<div style="text-align: justify; padding-top:5px;">
				شاركت فيها 24 منظّمة وجمعيّة من مكوّنات المجتمع المدني للتعبير عن رفضها القاطع لمشروع قانون المصالحة. وترمي هذه المبادرة إلى توحيد صفوف المجتمع المدني ضد تكريس ظاهرة الإفلات من العقاب والوقوف يد واحدة ضدّ كل ما من شأنه المساس بمسار العدالة الانتقالية وحقوق الضحايا.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/events/269113496786191/" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style=" text-align: justify; padding-top: 20px;">
				نظّم عدد من مكوّنات المجتمع المدني يوم الجمعة 15 جويلية 2016 على الساعة  17:30 مسيرة من أجل إسقاط مشروع قانون المصالحة.  ودعت منظّمة البوصلة إلى الالتحاق بالتحرك ودعمه باعتبارها عبّرت سابقا عن رفضها البات لمشروع القانون.
			</div>
			<div style=" text-align: justify; padding-top: 5x;">
				هذا وتعتبر البوصلة كلّ أشكال التحرّك ضدّ مشروع القانون مقبولة للضغط على مجلس نوّاب الشعب لعدم تمريره والمصادقة عليه.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/events/1430194550339284/" target="_blank">+ لمعرفة المزيد</a>
			</div>

			<div style="text-align: justify; padding-top: 20px;">
				أمضت البوصلة ضمن مجموعة من منظّمات المجتمع المدني على بيان جماعي ضدّ مشروع قانون المصالحة بعنوان "هل أن تبيض الفساد وسوء التصرف المالي يعدّان أولية في مسار الانتقال الديمقراطي؟" 
			</div>
			<div style="text-align: justify; padding-top: 5px;">
				تمّ نشر البيان الجماعي في غرّة جويلة 2016 وقد أمضت عليه أطراف مختلفة من مكوّنات المجتمع المدني.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/posts/1198972216802269" target="_blank">+ لمعرفة المزيد</a>
			</div>
		</div>
	</div>	
	</td>
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_presse.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b6ffb2;">
			<div style="text-align: justify; font-style: italic;">
				تحدّثت أنس بن عبد الكريم -رئيسة جمعية البوصلة- في برنامج "كرسي الصراحة" عن حملة ‫#‏ما_يتعدّاش‬ التي أطلقتها منظّمة البوصلة ضدّ مشروع قانون المصالحة والذي انطلق النظر فيه داخل لجنة التشريع العامّ .
			</div>
			<div style="text-align: justify; font-style: italic; padding-top:5px">
				وبيّنت المتحدّثة أنّ البوصلة إلى جانب تعبيرها عن موقفها الصريح والمبدئي ضدّ مشروع القانون ستعمل على تبسيطه للجميع وبيان الاخلالات التي يشتمل عليها وتعارضه الواضح مع مسار العدالة الانتقالية من جهة ومبادئ الدستور من جهة ثانية.
			</div>
			<div style="text-align: justify; font-style: italic; padding-top:5px">
				كما أضافت أنّ جمعية البوصلة ستقدّم مطلب استماع داخل لجنة التشريع العامّ، وهو مطلب مشروع قد يتتقدّم به عدد من مكوّنات المجتمع المدني.
			</div>
			<div style="color: #777;">
				صراحة أف أم | 30/06/2016 | <a href="http://sarahafm.tn/%D8%B1%D8%A6%D9%8A%D8%B3%D8%A9-%D9%85%D9%86%D8%B8%D9%85%D8%A9-%D8%A8%D9%88%D8%B5%D9%84%D8%A9-%D8%A3%D9%8F%D9%86%D8%B3-%D8%B9%D8%A8%D8%AF-%D8%A7%D9%84%D9%83%D8%B1%D9%8A%D9%85/" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; text-align: justify; font-style: italic;">
				 تحدّثت أنس بن عبد الكريم -رئيسة جمعية البوصلة- اليوم في اكسبرس أف.أم عن أهمية دور البوصلة في إنجاح المسار الديمقراطي من خلال اتخاذ المواقف التي تستجيب لمبادئها. هذا وأضافت أنّ رفض البوصلة لمشروع قانون المصالحة يندرج ضمن مبادئ المنظّمة ونشاطها الأساسي، والتي ليست بمعزل عن الظرفية السياسية والتاريخية للبلاد. 
			</div>
			<div style="color: #777;">
				إكسبرس أف أم | 30/06/2016 | <a href="http://www.radioexpressfm.com/ar/ecouter/l-express-avec-ons-ben-abdelkarim-30-06-2016-1078" target="_blank">الرابط</a>
			</div>

			<div style="padding-top: 20px; text-align: justify; font-style: italic;">
				تحدّثت أنس بن عبد الكريم -رئيسة جمعية البوصلة- عن موقف البوصلة من مشروع قانون المصالحة اثر تغيير لجنة التشريع العامّ لأولوياتها للنظر فيه. وعبّرت المتحدّثة عن ضمّ البوصلة صوتها إلى مختلف الأطراف ومكوّنات المجتمع المدني الرافضة لمشروع القانون، رفضا باتا مقدّمة الأسباب على مختلف المستويات.
			</div>
			<div style="color: #777;">
				شمس أف أم | 30/06/2016 | <a href="http://www.shemsfm.net/ar/replay_emission/%D8%A7%D9%84%D9%85%D8%A7%D8%AA%D9%8A%D9%86%D8%A7%D9%84_236" target="_blank">الرابط</a>
			</div>
		</div>
		<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_jobs.png" style="width: 308px;"></div>
		<div style="padding: 20px;  background-color: #fef1c9; text-align: justify; height: 180px;">
			<div>
			للانضمام لفريق البوصلة، تقدّم المنظّمة عرض عمل <span style="font-weight:bold">باحث مساعد</span> للعمل ضمن فريق البحث و التحليل على مشاريع القوانين و السياسات العامة. فعلى كلّ من يهمّه الأمر وتتوفّر فيه شروط الترشّح مراسلتنا عبر <a href="mailto:join@albawsala.com">البريد الإلكتروني</a>   مع إرفاق السيرة الذاتية ورسالة ترشّح قبل 28 جويلية 2016.
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer.png');
		">
			<div style="padding-top: 20px; padding-right: 45px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 75px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-right: 35px;">
				<a href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>
		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
