<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Newsletter | AlBawsala</title>
</head>

<body style="margin:0px; padding:0px;">
<div style="
background-color:#eee;
font-family:'Tahoma';
font-size:13px;
line-height:1.4em;
color:#333;
unicode-bidi:embed;
">
<table id="wrapper" align="center" cellpadding="0" cellspacing="0" width="620" style="
background-color: #fff;
">
	
	<tr style="vertical-align: top;">
		<td colspan="2" style="
		width: 620px;
		height: 160px;
		vertical-align: top;
		background-image: url('http://{{request.host}}/static/images/newsletter_header_fr.png');
		">
			<div style="padding-top: 20px; padding-left: 575px; color: white; font-weight: bold;">N°3</div>
			<div style="padding-top: 70px; padding-left: 490px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 4px; height: 23px; display: inline-block;"></span><a
				 href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 24px; height: 23px;"></a><span style="width: 6px; height: 23px; display: inline-block;"></span><a
				 href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 23px; height: 23px;"></a><span style="width: 5px; height: 23px; display: inline-block;"></span><a
				 href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 23px; height: 23px;"></a>
			</div>	
		</td>
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2">
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 18px; line-height: 1.4em;">
				Communiqué de presse
			</div>
			<div style="font-style: italic; padding-top: 10px; color:#7b7c7e; font-weight: bold; font-size: 14px; line-height: 1.4em;">
				La décision gouvernementale relative à la création de nouvelles municipalités et la modification des limites territoriales d’autres municipalités est une décision qui exclut l'Assemblée des Représentants du Peuple et n’a pas été prise sur des bases transparentes et claires.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Al Bawsala a déposé une demande d’accès à l’information auprès du ministère des Affaires Locales dans le but de clarifier les critères adoptés par le pouvoir exécutif pour créer 66 nouvelles municipalités et modifier les limites de 191 autres municipalités en vertu de deux décrets gouvernementaux en date du 26 Mai 2016 sans donner les informations et les études sur lesquelles ces deux décisions ont été fondées.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Dans ce cadre, Al Bawsala rappelle, qu’en dépit de la législation en vigueur qui permet la généralisation du système municipal à travers un décret gouvernemental, les dispositions de la Constitution nécessitent l’intervention de l’Assemblée des Représentants du Peuple dans le découpage territorial relatif aux collectivités locales. Entamer l’application du principe de couverture de tout le territoire de la République avec le système municipal avant l’adoption du projet de code des collectivités locales a conduit à la création de nouvelles municipalités sans délibérations à l’Assemblée des Représentants du Peuple quant à la manière de généralisation du système municipal, et sans débattre des critères adoptés de manière transparente et objective.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				L’application du système décentralisé est également basée sur plusieurs autres éléments en plus de la généralisation du système municipal et l’adoption du projet amendant la loi relative aux élections et aux référendums, comme le cadre légal organisant les collectivités locales, la décentralisation de la justice administrative et financière, et les autres cadres légaux relatifs aux ressources humaines et financières de ces collectivités locales.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Le processus de décentralisation est l’une des réformes les plus importantes introduites par la Constitution dans le domaine de l’organisation des pouvoirs, et ne pourra être effectif qu’à travers la participation de toutes les parties prenantes comme l’Assemblée des Représentants du Peuple, la société civile et les citoyens, et sur des bases transparentes et claires.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				A cet effet, Al Bawsala appelle l’Assemblée des Représentants du Peuple à utiliser tous les mécanismes qui lui sont attribués par la Constitution pour participer au processus de décentralisation, soit en questionnant le gouvernement concernant les décisions prises soit en présentant des initiatives législatives relatives aux nouveaux cadres légaux.
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/ar/pub/574d6f9dcf4412049bf1388c" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more_fr.png">
				</a>
			</div>
		</div>
		</td>
		{% if bla %}
		<td style="width: 312px; padding-top: 2px;  padding-bottom: 4px; padding-left: 2px; vertical-align: top;">
			<img src="http://{{request.host}}/static/images/newsletter_1_1_fr.png" style="width: 310px;">
		</td>
		{% endif %}
	</tr>
	
	<tr style="vertical-align: top;">
	<td>
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_3_2.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				Marsad Majles - Projet de loi organique amendant et complétant la loi électorale
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				La commission du règlement intérieur, de l’immunité, des lois parlementaires et des lois électorales a examiné le projet de loi organique amendant et complétant la loi organique N°14/2014 du 26 Mai 2014 relative aux élections et aux réferendums durant trois mois depuis l’affectation du projet de loi à la commission le 03 février 2016.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Al Bawsala a suivi le cycle des réunions et auditions effectuées au niveau de la commission et les principaux débats concernant les points de désaccords qui ont été résolus au sein de la commission, et ce avant l’adoption du projet en séance plénière. Elle a publié, en plus des chroniques habituelles sur le site, des fiches explicatives concernant les points les plus importants du projet.
			</div>
			<div style="padding-top: 15px;">
				<a href="https://www.facebook.com/AlBawsala/posts/1177416332291191" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more_fr.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_3_3.png" style="width: 308px;"></div>
		<div style="padding: 20px;">
			<div style="color: #f0543b; font-weight: bold; font-size: 15px; line-height: 1.4em;">
				Partenariat avec la Radio tunisienne - Al Bawsala organise une première session de formation au profit des journalistes
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Dans le cadre de son programme de formation, Al Bawsala a organisé une session de formation au profit des journalistes. La session de formation a été organisée, a porté essentiellement sur les notions de la décentralisation, les  modes  de gouvernance et le budget des municipalités.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Al Bawsala a estimé nécessaire de présenter certains éléments essentiels relatifs à la décentralisation afin de permettre aux journalistes de se doter des informations nécessaires au vue du débat à venir sur la décentralisation.
			</div>
			<div style="padding-top: 15px; text-align: justify;">
				Le but essentiel de ce programme de formation est de permettre aux journalistes de disposer des connaissances nécessaires pour traiter les questions pertinentes  relatives  à  l’action  municipale. Quinze journalistes issus des neuf radios nationales et régionales de la radio tunisienne ont participé à cette session de formation. 
			</div>
			<div style="padding-top: 15px;">
				<a href="http://www.albawsala.com/pub/576289a7cf441205b7bca16e" target="_blank">
					<img src="http://{{request.host}}/static/images/newsletter_more_fr.png">
				</a>
			</div>
		</div>
	</div>
	</td>
	</tr>

	<tr style="vertical-align: top;">
	<td style="background-image: url('http://{{request.host}}/static/images/newsletter_bgcolor_fr.png')">
	<div style="padding-right: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_actu_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b2ebec;">
			<div style="font-weight: bold;">
				Recommandations d’Al Bawsala concernant le projet de décret gouvernemental portant organisation des consultations publiques
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Suite à la soumission à la consultation du publique du projet de décret gouvernemental portant organisation des consultations publiques, Al Bawsala a présenté un ensemble de recommandations concernant certains articles du projet de décret. Al Bawsala considère que ce projet de décret est d’une importance majeure du fait qu’il concrétise l’un des mécanismes de démocratie participative et ouvre la voie aux citoyens, à la société civile et à toutes les parties prenantes pour participer à la prise de décision.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://www.albawsala.com/ar/pub/575aa91ccf441205b7bca16b" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Une page pour suivre la création de nouvelles municipalités sur tout le territoire de la République tunisienne
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				66 nouvelles municipalités ont été créées en vertu de deux décrets gouvernementaux en date du 26 Mai 2016, pour arriver ainsi à 86 municipalités créées depuis l’adoption de la Constitution et un total de 350 municipalités, en plus de la modification des limites municipales de 191 municipalités à la même date.
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a crée une page pour suivre les municipalités nouvellement créées et qui sont mises à jour en fonction des décrets gouvernementaux publiés au Journal Officiel. Il est nécessaire de rappeler que la Constitution, dans son article 131, prévoit la couverture de tout le territoire de la République tunisienne par des collectivités locales, et que le tiers des citoyens tunisiens vivaient en dehors des zones municipales avant la création de ces municipalités.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/nouvelles_municipalites" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Les travaux de l’Assemblée des Représentants du Peuple en détails sur le site chaque semaine
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a suivi durant la dernière semaine du 06 Juin au 11 Juin 2016 les travaux de l’Assemblée : une réunion de travail de la commission spéciale des affaires des tunisiens à l’étranger, deux séances d’audition à la commission des finances au ministre du développement, de l’investissement et de la coopération internationale, et au ministre des finances et le gouverneur de la Banque Centrale de Tunisie.
			</div>
			<div style="padding-top: 5px; ">
				<a href="https://www.facebook.com/AlBawsala/posts/1185989178100573" target="_blank">+ Plus d'informations</a>
			</div>

			<div style="font-weight: bold; padding-top: 20px">
				Des observateurs locaux dans le gouvernorat de Zaghouan après Gabès
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Les observateurs locaux sont des citoyens et des citoyennes qui s’intéressent à l’action municipale, ils suivent les sessions préliminaires et ordinaires dans leurs municipalités et participent à l’opération de prise de décision sur le plan local.
			</div>
			<div style="padding-top: 5px; text-align: justify;">
				Al Bawsala a choisi jusqu’à maintenant les observateurs locaux des municipalités au niveau des régions suivantes : Beja, Tataouine, Gafsa, Jendouba, Gabès, et dernièrement les municipalités du gouvernorat de Zaghouan.
			</div>
			<div style="padding-top: 5px; ">
				<a href="http://baladia.marsad.tn/observateurs" target="_blank">+ Plus d'informations</a>
			</div>
		</div>
	</div>
	</td>
	<td>
	<div style="padding-left: 2px;">
		<div><img src="http://{{request.host}}/static/images/newsletter_presse_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px; background-color: #b6ffb2;">
			<div style="font-style: italic;">
				Intervention de Ons Ben Abd Karim, porte parole d’Al Bawsala, dans l’émission "ناس نسمة" à la chaîne de télévision Nessma TV le 27 avril 2016 pour parler des sessions de dialogues avec le Gouvernement, entre dossiers brûlants et absences des députés.
			</div>
			<div style="color: #777;">
				Nessma TV | 27/04/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1157223537643804/" target="_blank">Lien</a>
			</div>
			
			<div style="padding-top: 20px; font-style: italic;">
				Intervention de Ons Ben Abd Karim, porte parole d’Al Bawsala, dans l’émission "حديث الساعة" à la chaîne de télévision nationale le 19 Avril 2016 pour parler du phénomène d’absentéisme à l’ARP, ses conséquences et les moyens d’y remèdier.
			</div>
			<div style="color: #777">
				Télévision Nationale | 19/04/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1151992628166895/" target="_blank">Lien</a>
			</div>
			
			<div style="padding-top: 20px; font-style: italic;">
				Intervention de Ons Ben Abd Karim, porte parole d’Al Bawsala, dans l’émission "في أسبوع" à la chaîne de télévision nationale le 18 mars 2016 pour parler du projet de loi relatif à l’accès à l’information.
			</div>
			<div style="color: #777">
				Télévision Nationale | 18/03/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1126898754009616/" target="_blank">Lien</a>
			</div>
			
			<div style="padding-top: 20px; font-style: italic;">
				Intervention de Ons Ben Abd Karim, porte parole d’Al Bawsala, dans l’émission "حديث الساعة" à la chaîne de télévision nationale le 24 février 2016 pour parler du bilan de l’activité de l’assemblée des représentants du peuple 4 mois de la deuxième session parlementaire.
			</div>
			<div style="color: #777">
				Télévision Nationale | 24/02/2016 | <a href="https://www.facebook.com/AlBawsala/videos/1110052335694258/" target="_blank">Lien</a>
			</div>
		</div>
		<div style="padding-top: 4px;"><img src="http://{{request.host}}/static/images/newsletter_jobs_fr.png" style="width: 308px;"></div>
		<div style="padding: 20px;  background-color: #fef1c9; text-align: justify; height:680px">
			<div>
			Al Bawsala recrute <span style="font-weight:bold">un(e) Assistant(e) administratif et logistique</span>. Veuillez envoyer votre CV accompagné d’une lettre de motivation sur l’adresse e-mail [<a href="mailto:join@albawsala.com">join@albawsala.com</a>] en spécifiant dans l’objet de votre courrier [Candidature pour le poste d’assistant administratif et logistique] avant le 28/06/2016. 
			</div>
			<div style="padding-top:20px;">
			Al Bawsala Recrute <span style="font-weight:bold">un(e) Assistant(e) de projet - Marsad Budget</span>. Veuillez envoyer votre CV accompagné d’une lettre de motivation sur l’adresse e-mail [<a href="mailto:join@albawsala.com">join@albawsala.com</a>] en spécifiant dans l’objet de votre courrier [Candidature pour le poste d’assistant de projet Marsad Budget] avant le 28/06/2016. 
			</div>
		</div>
	</div>
	</td>	
	</tr>

	<tr style="vertical-align: top;">
		<td colspan="2" style="padding-top: 4px;">
		<div style=" 
		height: 168px;
		width: 100%;
		background-image: url('http://{{request.host}}/static/images/newsletter_footer_fr.png');
		">
			<div style="padding-top: 20px; padding-left: 35px;">
				<a href="http://www.albawsala.com" style="display: inline-block; width: 95px; height: 28px;"></a>
			</div>
			<div style="padding-top: 63px; padding-left: 28px;">
				<a href="https://www.facebook.com/AlBawsala" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 10px; height: 31px;"></span><a 
				href="https://twitter.com/AlBawsalaTN" style="display: inline-block; width: 32px; height: 31px;"></a><span style="display: inline-block; width: 8px; height: 31px;"></span><a 
				href="https://www.youtube.com/channel/UCiZEsat2vZZV1NI561CekWA" style="display: inline-block; width: 32px; height: 31px;"></a>
			</div>

		</div>
		</td>
	</tr>

</table>
</div>

</body>
</html>
