{% extends "/base.html" %}

{% block head %}
<style type="text/css">
h1{
    margin-top: 0px;
    margin-bottom: 20px;
}
</style>
{% endblock %}

{% block main %}
<div id="main" class="floati">
    <form method="POST" action="{{url_for('root.newsletter_request', action=action)}}">
        <h1>{% trans %}Newsletter{% endtrans %}</h1>
        {% if request.args.action == "unsubscribe" %}
        <input type="text" name="email" placeholder="{% trans %}Votre adresse email{% endtrans %}" value="{{email}}"/>
        <input type="submit" name="unsubscribe" value="{% trans %}Se désabonner{% endtrans %}"/>
        {% else %}
        <input type="text" name="email" placeholder="{% trans %}Inscription newsletter{% endtrans %}" value="{{email}}"/>
        <input type="submit" name="subscribe" value="{% trans %}Envoyer{% endtrans %}"/>
        {% endif %}
        <p id="result" class="top-10">{{result}}</p>
    </form>
</div>
{% endblock %}