{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="/static/photoswipe/photoswipe.css">
<link rel="stylesheet" href="/static/photoswipe/default_skin/default-skin.css">
<script src="/static/jquery.js"></script>
<script src="/static/photoswipe/photoswipe.min.js"></script>
<script src="/static/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="/static/rapport_2016_items.js"></script>
<script src="/static/rapport_2016_init.js"></script>
{% endblock %}


{% block main %}
<div id="main" class="floati">
	<h1>{{doc.titre|lang}}</h1>
	<div style="color: #888; margin: 5px 0 40px;">{{doc.date|dateformat('dd MMMM YYYY')}}</div>
	<a href="#"><img id="gallery-open" style="width: 500px; height: auto;" src="/uploads/images/rapport_2016/01_Pl%C3%A9ni%C3%A8re_1.png"></a>
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">

			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
						  <div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						  </div>
						</div>
					</div>
				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div> 
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
