@font-face {
    font-family: 'FrutigerLT';
    src: url('/static/fonts/FrutigerLTArabic-55Roman.woff') format('woff'), url('/static/fonts/FrutigerLTArabic-55Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FrutigerLT';
    src: url('/static/fonts/FrutigerLTArabic-65Bold.woff') format('woff'), url('/static/fonts/FrutigerLTArabic-65Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: 'Tahoma', 'Arial', 'Verdana', 'Sans-serif';
    font-size: 12px;
    line-height: 1.5em;
    color: #333;
    margin: 0;
    background: url(images/pattern.png)
}
body.ar{
    font-size: 13px;
    unicode-bidi: embed;
    direction: rtl;
}
p {
    margin: 18px 0;
}
.ar h1{
    font-family: 'FrutigerLT';
    line-height: 1.6em;
}
h1{
    font-family: 'Amaranth';
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #ececec;
    line-height: 1.3em;
    padding: 0 0 8px;
    margin: 0;
}
.ar h2 {
    font-family: 'FrutigerLT';
    font-size: 15px;
}
h2 {
    font-family: 'Amaranth';
    font-weight: normal;
    font-size: 13px;
    margin: 18px 0 5px;
}
a {
    color: #777;
    text-decoration:none;
}
a:hover { text-decoration: underline; }
ul, ol{
    padding-right: 0px;
    padding-left: 20px;
    margin: 0;
}
body.ar ul,
body.ar ol{
    padding-right: 20px;
    padding-left: 0px;
}
li {
    margin: 4px 0;
}
.ar blockquote{
    border-left: none;
    border-right: 4px solid #ECECEC;
}
blockquote{
    color: #666;
    border-left: 4px solid #ECECEC;
    margin: 18px 0;
    padding: 0 22px;
}
.strong{
    font-weight: bold;
}
.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.float,  body.ar .floati{ float: left; }
.floati, body.ar .float{ float: right; }

.clearfloat,  body.ar .clearfloati{
    clear: left;
    float: left;
}
.clearfloati, body.ar .clearfloat{
    clear: right;
    float: right;
}

.left-5,  body.ar .right-5{
    margin-right: 0;
    margin-left: 5px;
}
.right-5, body.ar .left-5{
    margin-right: 5px;
    margin-left: 0;
}
.left-10,  body.ar .right-10 {
    margin-right: 0;
    margin-left: 10px;
}
.right-10, body.ar .left-10{
    margin-right: 10px;
    margin-left: 0;
}
.left-15,  body.ar .right-15 {
    margin-right: 0;
    margin-left: 15px;
}
.right-15, body.ar .left-15{
    margin-right: 15px;
    margin-left: 0;
}
.left-20,  body.ar .right-20{
    margin-right: 0;
    margin-left: 20px;
}
.right-20, body.ar .left-20{
    margin-right: 20px;
    margin-left: 0;
}
.left-40,  body.ar .right-40{
    margin-right: 0;
    margin-left: 40px;
}
.right-40, body.ar .left-40{
    margin-right: 40px;
    margin-left: 0;
}
.top-5{ margin-top: 5px; }
.top-10{ margin-top: 10px; }
.top-15{ margin-top: 15px; }
.top-20{ margin-top: 20px; }
.top-30{ margin-top: 30px; }
.top-40{ margin-top: 40px; }
.top-50{ margin-top: 50px; }

.bottom-5{ margin-bottom: 5px; }
.bottom-10{ margin-bottom: 10px; }
.bottom-20{ margin-bottom: 20px; }

.center{
    text-align: center;
}
.fixed{
    position: fixed;
    top: 20px;
}
.hide{
    display: none;
}
.amaranth{
    font-family: 'Amaranth';
}
.full{
    width: 100%;
}
.half{
    width: 50%;
}
.small{
    font-size: 11px;
}

#body-back{
    background-color: #fff;
    padding-bottom: 60px;
}
#body-wrapper{
    width: 750px;
    margin: 0px auto;
}
.ar #logo{
    font-family: 'FrutigerLT';
    font-size: 33px;
}
#logo{
    background: url(images/compass_light_big.png) top center no-repeat;
    margin: 50px 0px;
    padding-top: 87px;
    text-align: center;
    font-family: 'Amaranth';
    font-weight: bold;
    font-size: 26px;
    color: #333;
}
#logo > span{
    color: #ccc;
}
#logo:hover{
    text-decoration: none;
}
.ar #branding {
    background-position: 80px 0;
}
#branding {
    background: url(images/mapmonde.png) 180px 0px no-repeat;
    height: 270px;
}
#langs{
    margin-top: 8px;
}
#langs > a{
    font-size: 11px;
    font-weight: bold;
    padding: 0 3px;
    color: #aaa;
}
#langs > a.active{
    color: #333;
}
#menu{
    width: 250px;
    top: 25px;
}
#menu > div > a{
    padding-top: 1px;
    padding-bottom: 1px;
}
#main{
    width: 500px;
    margin-top: 15px;
}
#pagination > a{
    font-family: 'Arial';
    text-decoration: none;
    padding: 0 5px;
    color: #666;
    cursor: default;
    opacity: 0.2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#pagination > a.active{ opacity: 1; }
#pagination > a.active:hover{ color: #333; }

body.ar .icon-actu,
body.ar .icon-bawsala{
    background-position: right center;
}
body.ar .icon-donors,
body.ar .icon-partners{
    padding-left: 0px;
    padding-right: 32px;
    background-position: right center;
}
.black{
    color: #333;
}
.grey{
    color: #888;
}
.icon-actu{
    margin: 0 -25px;
    background: url('images/icon-actu.png') left top no-repeat;
}
.icon-bawsala{
    margin: 0 -25px;
    background: url('images/icon-bawsala.png') left top no-repeat;
}
.icon-donors{
    font-weight: bold;
    padding-left: 32px;
    background: url('images/icon-donors.png') left center no-repeat;
}
.icon-partners{
    font-weight: bold;
    padding-left: 32px;
    background: url('images/icon-partners.png') left center no-repeat;
}
.donate{
    width: 169px;
    height: 36px;
    background: url('images/donate.png') no-repeat;
    margin-left: -2px;
}
.donate:hover{
    background: url('images/donate-hover.png') no-repeat;
}
.partner-nawaat{
    width: 62px;
    height: 62px;
    background: url('images/partner-nawaat.png') no-repeat;
}
.partner-mict{
    width: 62px;
    height: 62px;
    background: url('images/partner-mict.png') no-repeat;
}
.partner-pw{
    width: 62px;
    height: 62px;
    background: url('images/partner-pw.png') no-repeat;
}
.partner-os{
    width: 62px;
    height: 62px;
    background: url('images/partner-os.png') no-repeat;
}
.partner-nawaat:hover,
.partner-mict:hover,
.partner-pw:hover,
.partner-os:hover{
    opacity: 0.7;
}
.partner {
    float: left;
    margin-right:15px;
    width: 80px;
    height: 80px;
}
.partner-small {
    float: left;
    margin-right:9px;
    width: 60px;
    height: 60px;
}

.partner#nawaat{ background: url(images/nawaat80_1.png);}
.partner#nawaat:hover{ background: url(images/nawaat80_2.png);}
.partner#cahiersdelaliberte{ background: url(images/cahiers80_1.png);}
.partner#cahiersdelaliberte:hover{ background: url(images/cahiers80_2.png);}
.partner#nahwaalmuwatiniya{ background: url(images/almouwatna80_1.png);}
.partner#nahwaalmuwatiniya:hover{ background: url(images/almouwatna80_2.png);}
.partner-small#nawaat { background: url(images/nawaat60_1.png); }
.partner-small#nawaat:hover { background: url(images/nawaat60_2.png); }
.partner-small#cahiersdelaliberte{ background: url(images/cahiers60_1.png);}
.partner-small#cahiersdelaliberte:hover{ background: url(images/cahiers60_2.png);}
.partner-small#nahwaalmuwatiniya{ background: url(images/almouwatna60_1.png);}
.partner-small#nahwaalmuwatiniya:hover{ background: url(images/almouwatna60_2.png);}

.twitter{
    width: 16px;
    height: 13px;
    background: url('images/twitter.png');
}
.facebook{
    width: 12px;
    height: 13px;
    background: url('images/facebook.png');
}
.ar .ico-twitter{
    background-position: center right;
}
.ico-twitter{
    padding: 0 21px;
    background-image: url('images/l-twitter.png');
    background-position: center left;
    background-repeat: no-repeat;
}
.ar .ico-facebook{
    background-position: center right;
}
.ico-facebook{
    padding: 0 17px;
    background-image: url('images/l-facebook.png');
    background-position: center left;
    background-repeat: no-repeat;
}
.ar .ico-email{
    background-position: center right;
}
.ico-email{
    padding: 0 23px;
    background-image: url('images/l-mail.png');
    background-position: center left;
    background-repeat: no-repeat;
}
#adresse {
    float: left;
    width: 200px;
    height: 100px;
    background: url(images/adresse.png);
}
#adresse:hover{
    background: url(images/adresse-hover.png);
}
.l-twitter, .l-mail{
    height: 13px;
    width: 18px;
    float: left;
    margin-top: 3px;
}
.l-twitter{background: url(images/l-twitter.png) no-repeat;}
.l-twitter:hover{background: url(images/l-twitter-hover.png) no-repeat;}
.l-mail{background: url(images/l-mail.png) no-repeat;}
.l-mail:hover{background: url(images/l-mail-hover.png) no-repeat;}

#footer-wrapper .l-mail{background: url(images/l-mail-footer.png) no-repeat;}
#footer-wrapper .l-mail:hover{background: url(images/l-mail-footer-hover.png) no-repeat;}
#footer-wrapper .l-twitter{background: url(images/l-twitter-footer.png) no-repeat;}
#footer-wrapper .l-twitter:hover{background: url(images/l-twitter-footer-hover.png) no-repeat;}

#footer-back{
    width: 100%;
    float: left;
    margin-bottom: 60px;
}
#footer-wrapper{
    font-family: 'Amaranth';
    color: #999;
    width: 750px;
    margin: 30px auto;
}
#footer-wrapper .social > a{
    display: block;
}
#footer-wrapper a{
    color: #999;
}
