<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
    {% block meta %}
    <title>{% trans %}AlBawsala{% endtrans %}</title>
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="3vHF_BkMH5hL2qugPzZUYAu7d_RpMvB-me0QJDO7x0U" />
    <link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/base.2.css"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43110327-1', 'albawsala.com');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
    window.onload = function()
    {
        var menu = document.getElementById('menu');
        console.log('loaded')

        parent.onscroll = function()
        {
            console.log('scrolled');
            if(window.scrollY > 240 ) menu.style.position = 'fixed';
            else menu.style.position = 'static';
        };
    }
    </script>
    {% block head %}{% endblock %}
</head>

{% set lng = g.lang_code %}
<body class="{{lng}}">

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function()
{
  // init the FB JS SDK
  FB.init({
    appId      : '498598053500425',
    channelUrl : '{{config.BASE_URL}}/fb_channel',
    cookies    : true,
    status     : true,
    xfbml      : true
  });
};

(function(d, s, id)
{
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="body-back" class="float full">
<div id="body-wrapper">

    <div id="branding" class="float full">
        <div class="floati">
            <div id="langs" class="floati">
                {% for lang in ['fr', 'ar', 'en'] %}
                <a class="{{lang == lng and 'active'}}" href="{{url_for(request.endpoint, lang_code='%s' % lang, **request.view_args) }}">{{lang}}</a>
                {% endfor %}
            </div>
            {% if request.endpoint[5:] != 'newsletter_request' %}
            <form id="subscribe-form" method="POST" action="{{url_for('root.newsletter_request')}}">
                <input type="text" name="email" placeholder="{% trans %}Inscription newsletter{% endtrans %}"/>
                <input type="submit" name="subscribe" value="{% trans %}Envoyer{% endtrans %}"/>
            </form>
            {% endif %}
        </div>
        <a id="logo" class="float" href="{{url_for('root.home')}}">
            {% if lng == 'ar' %}
            {% trans %}AlBawsala{% endtrans %}
            {% else %}
            <span>AL</span> BAWSALA
            {% endif %}
        </a>
    </div>

    <div id="menu" class="float">
        <div>
            <h2><img class="float hide" src="/static/images/icon-bawsala.png" style="margin:-2px -27px;"/>{% trans %}À Propos{% endtrans %}</h2>
            <div><a href="{{url_for('root.page', page_name='presentation')}}">{% trans %}Présentation{% endtrans %}</a></div>
            <div><a href="{{url_for('root.page', page_name='donateurs')}}">{% trans %}Financements{% endtrans %}</a></div>
        </div>
        
        <div>
            <h2><img class="float hide" src="/static/images/icon-actu.png" style="margin:-2px -27px;"/>{% trans %}Actualité{% endtrans %}</h2>
            <div><a href="{{url_for('root.home')}}">{% trans %}Publications{% endtrans %}</a></div>
            <div><a href="{{url_for('root.presse')}}">{% trans %}Presse{% endtrans %}</a></div>
        </div>
    
        <div>
            <h2>{% trans %}Projets{% endtrans %}</h2>
            <div><a href="{{url_for('root.page', page_name='marsad_baladia')}}">{% trans %}Marsad Baladia{% endtrans %}</a></div>
            <div><a href="{{url_for('root.page', page_name='marsad_budget')}}">{% trans %}Marsad Budget{% endtrans %}</a></div>
            <div><a href="{{url_for('root.page', page_name='marsad_majles')}}">{% trans %}Marsad Majles{% endtrans %}</a></div>
            <div><a href="{{url_for('root.page', page_name='debats_elus_citoyens')}}">{% trans %}Débats Élus / Citoyens{% endtrans %}</a></div>
        </div>
    </div>
    {% block main %}{% endblock %}

</div>
</div>

<div id="footer-back">
<div id="footer-wrapper">
    <div class="float top-10">
        <a class="float" href="{{url_for('root.page', page_name='contact')}}">{% trans %}Contact{% endtrans %}</a>
        <a class="float left-15" href="{{config.TWITTER_URL}}">{% trans %}Twitter{% endtrans %}</a>
        <a class="float left-15" href="{{config.FB_PAGE_URL}}">{% trans %}Facebook{% endtrans %}</a>
        <a class="float left-15" href="{{url_for('root.page', page_name='jobs')}}">{% trans %}Nous rejoindre{% endtrans %}</a>
    </div>
    <div class="floati amaranth">
        <img class="floati left-10" style="margin-top:2px" src="/static/images/logo2.png"/>
        <div class="float strong top-10">
            <div>{% trans %}Promouvoir la Démocratie en Tunisie{% endtrans %}</div>
            <div class="floati">{% trans %}ALBAWSALA{% endtrans %}</div>
        </div>
    </div>
</div>
</div>

</body>
</html>
