{% extends "base.html" %}

{% block head %}
<style type="text/css">
.ar #tabs{
    height: 30px;
}
#tabs{
    height: 23px;
    margin-bottom: 30px;
}
#tabs > a{
    width: 33%;
    text-align: center;
    color: #888;
}
#tabs > a.active{
    color: #333;
}
.member{
    padding: 20px 0;
}
.ar .member-info{
    font-family: 'FrutigerLT';
}
.member-info{
    font-family: 'Amaranth';
    margin-top: 8px;
    height: 70px;
}
.member img{
    width: 70px;
    border-radius: 40px;
}
.member-name{
    font-size: 16px;
}
.member-role{
    color: #888;
}
</style>
{% endblock %}

{% block main %}
<div id="main" class="floati">
    <h1 id="tabs">
        <a href="{{url_for('root.equipe', cat='BUR')}}" id="BUR" class="float {{cat == 'BUR' and 'active'}}">{% trans %}Bureau{% endtrans %}</a>
        <a href="{{url_for('root.equipe', cat='MEM')}}" id="MEM" class="float {{cat == 'MEM' and 'active'}}">{% trans %}Permanents{% endtrans %}</a>
        <a href="{{url_for('root.equipe', cat='BEN')}}" id="BEN" class="float {{cat == 'BEN' and 'active'}}">{% trans %}Bénévoles{% endtrans %}</a>
    </h1>

    {% for elt in liste %}
    <div class="member">
        {% if elt.photo %}
        <img class="float right-15" src="{{elt.photo.id|path}}"/>
        {% endif %}
        <div class="member-info">
            <div class="member-name">{{elt.nom|lang}}</div>
            {% if cat != 'BEN' %}
            <div class="member-role">{{elt.fonction|lang}}</div>
            {% endif %}
            <div class="float top-5">
                <a class="clearfloat l-mail" href="mailto:{{elt.email}}"></a>
                {% if elt.twitter %}
                <a class="float l-twitter left-10" href="{{elt.twitter}}"></a>
                {% endif %}
            </div>
        </div>
        <div>
        {{(elt.bio|lang or '<p></p>')|safe}}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}