{% extends "base.html" %}

{% block head %}
<style type="text/css">
#actu > a{
    display: block;
    padding: 20px 0px;
    border-bottom: 1px solid #ececec;
    color: #333;
}
#actu > a:hover{
    background-color: #F5F5F5;
    text-decoration: none;
}
#actu > a:last-child{
    border: none;
}
#actu > a .thumbnail{
    width: 70px;
    height: auto;
    border: 1px solid #ccc;
}
</style>
{% endblock %}

{% block main %}
<div id="main" class="floati">
    <h1>
        <span>{% trans %}Actualité{% endtrans %}</span>
        <div id="pagination" class="floati">
            {% if data.first_p %}
            <a class="float" href="#">{% trans %}◀{% endtrans %}</a>
            {% else %}
            <a class="float active" href="{{url_for('root.home', _after=data.liste[0]._id)}}">{% trans %}◀{% endtrans %}</a>
            {% endif %}
            {% if data.last_p %}
            <a class="float" href="#">{% trans %}▶{% endtrans %}</a>
            {% else %}
            <a class="float active" href="{{url_for('root.home', _before=data.liste[-1]._id)}}">{% trans %}▶{% endtrans %}</a>
            {% endif %}
        </div>
    </h1>

    <div id="actu">
        {% for elt in data.liste %}
        {% set test = elt._meta.exercept %}
        {% set lng = test[g.lang_code] and g.lang_code or test['fr'] and 'fr' or test['ar'] and 'ar' or 'en' %}
        <a href="{{url_for('root.publication', pub_id=elt._id|string, lang_code=lng)}}">
            <table width="100%" cellpadding="0" cellspacing="0"><tr style="vertical-align:top;">
            {% if elt._meta.preview_image %}
            <td width="86"><img class="thumbnail" src="{{elt._meta.preview_image}}"/></td>
            {% endif %}
            <td>
                <div class="strong blue">{{elt.titre[lng]}}</div>
                <div class="top-5">{{elt._meta.exercept[lng]}}&nbsp;...</div>
                {% if elt.date %}
                <div class="grey small top-5">{{elt.date|dateformat('dd MMMM YYYY')}}</div>
                {% endif %}
            </td>
            </tr></table>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}
