{% extends "base.html" %}

{% if doc.titre|lang %}
{% block meta %}
<title>{{doc.titre|lang}}</title>
{% endblock %}
{% endif %}

{% block head %}
<style type="text/css">
.meta-title{
	color: #888;
	margin: 5px 0 40px;
}
</style>
{% endblock %}

{% block main %}
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function()
{
  // init the FB JS SDK
  FB.init({
    appId      : '498598053500425',
    //channelUrl : '{{config.BASE_URL}}/fb_channel',
    cookies    : true,
    status     : true,
    xfbml      : true
  });
};

(function(d, s, id)
{
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div id="main" class="floati">
    <h1>{{doc.titre|lang or gettext('Traduction non disponible')}}</h1>
    {% if doc.date %}
    <div class="meta-title">{{doc.date|dateformat('dd MMMM YYYY')}}</div>
    {% endif %}
    <div>{{(doc.texte|lang or doc.contenu|lang or '<p>%s</p>' % gettext('Traduction non disponible'))|safe}}</div>
    <div class="center top-40">
        <div class="fb-share-button" data-type="button_count" style="vertical-align:top; margin: 0 11px;"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="AlBawsalaTN" data-lang="fr">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div id="comments" class="fb-comments top-50" data-href="{{url_for('root.publication', pub_id=doc._id, lang_code='fr', _external=True)}}" data-num-posts="5" data-simple="1" data-width="500"></div>
</div>
{% endblock %}
