{% extends "base.html" %}

{% block head %}
<style type="text/css">
#liste > a{
    color: #333;
    display: block;
    padding: 12px 0px;
    border-bottom: 1px solid #ececec;
    text-decoration: none;
}
#liste > a:hover{
    background-color: #F5F5F5;
}
#liste > a img,
#liste > a .small{
    margin-top: 3px;
}
</style>
{% endblock %}

{% block main %}
<div id="main" class="floati">
    <h1>
        <span>{% trans %}AlBawsala dans la presse{% endtrans %}</span>
        <div id="pagination" class="floati">
            {% if data.first_p %}
            <a class="float" href="#">{% trans %}◀{% endtrans %}</a>
            {% else %}
            <a class="float active" href="{{url_for('root.presse', _after=data.liste[0]._id)}}">{% trans %}◀{% endtrans %}</a>
            {% endif %}
            {% if data.last_p %}
            <a class="float" href="#">{% trans %}▶{% endtrans %}</a>
            {% else %}
            <a class="float active" href="{{url_for('root.presse', _before=data.liste[-1]._id)}}">{% trans %}▶{% endtrans %}</a>
            {% endif %}
        </div>
    </h1>

    <div id="liste">
        {% for elt in data.liste %}
        <a href="{{elt.url}}" target="_blank">
            <table width="100%" cellpadding="0" cellspacing="0"><tr style="vertical-align:top">
                <td width="30"><img src="{{elt.favicon}}" width="16" height="16"/></td>
                <td>
                    <div class="strong">{{elt.source}}</div>
                    <div>{{elt.titre}}</div>
                    <div class="grey small">{{elt.date|dateformat('dd MMMM YYYY')}}</div>
                </td>
            </tr></table>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}